# Лекция 5. Метод канонических корреляций

## Суть метода


Канонические  корреляции - это расширение парной корреляции на случай, когда имеется несколько результативных показателей $W$ и нескольких влияющих факторов $P$.

В каноническом анализе матрица значений исходных переменных имеет вид:

| Объект анализа | Результативные показатели | Влияющие факторы |
|----------------|---------------------------|------------------|
|                | $W_1$    $W_2$   $\ldots$   $W_m$|$P_1$ $P_2$ $\ldots$ $P_n$|
|$O_1$           |$w_{11}$  $w_{12}$ $\ldots$  $w_{1m}$|$p_{11}$  $p_{12}$ $\ldots$  $p_{1n}$|
|$O_2$           |$w_{21}$  $w_{22}$ $\ldots$  $w_{2m}$|$p_{21}$  $p_{22}$ $\ldots$  $p_{2n}$|
|$O_3$           |$w_{31}$  $w_{32}$ $\ldots$  $w_{3m}$|$p_{31}$  $p_{32}$ $\ldots$  $p_{3n}$|
|...|...|...|
|$O_k$           |$w_{k1}$  $w_{k2}$ $\ldots$  $w_{km}$|$p_{k1}$  $p_{k2}$ $\ldots$  $p_{kn}$|

Таким образом, возникает задача исследования относительной связи между двумя группами параметров, заданных матрицами  $P$ и  $W$:
 $$P=\left(\begin{matrix}p_{1,1}&p_{1,2}&\ldots&p_{1,n}\\p_{2,1}&p_{2,2}&\ldots &p_{2,n}\\\ldots &\ldots &\ldots&\ldots \\p_{k,1}&p_{k,2}&\ldots &p_{k,n}\end{matrix}\right),$$
 \begin{eqnarray}\label{m_f1}W=\left(\begin{matrix}w_{1,1}&w_{1,2}&\ldots&w_{1,m}\\w_{2,1}&w_{2,2}&\ldots &w_{2,m}\\\ldots &\ldots &\ldots&\ldots \\w_{k,1}&w_{k,2}&\ldots &w_{k,m}\end{matrix}\right),\end{eqnarray}
где  $k$ - размер выборки;  $n$ - количество влияющих факторов; $m$ - количество результативных показателей.

Основная задача метода  - построить некоторые новые синтетические показатели - **канонические переменные**, как линейные комбинации от искомых переменных. Причем эти линейные комбинации составляются так, чтобы между каноническими переменными была максимальная парная корреляция.

Канонические корреляции используются для научного обоснования системы показателей при проведении многомерного статистического анализа, подборе групп влияющих показателей.

## Некоторые сведения из теории вероятностей и линейной алгебры

1. Пусть $X,Y$ - две случайные величины. Ковариация между $X$ и $Y$ определяется как:
    $$cov(X,Y)=M((X-M(X))\cdot (Y-M(Y)))$$
    $$M((X-M(X))\cdot (Y-M(Y)))=M(XY-XM(Y)-YM(X)+M(X)M(Y))=M(XY)-M(X)M(Y)-M(Y)M(X)+M(X)M(Y)=$$
    $$M(XY)-M(X)M(Y)$$
    $$cov(X,Y)=M(XY)-M(X)M(Y)$$
2. Линейный коэффициент корреляции:
$$\rho=\frac{M(XY)-M(X)M(Y)}{\sigma_X\sigma_Y}=\frac{cov(X,Y)}{\sigma_X\sigma_Y}$$
3. Если $M(X)=M(Y)=0$, то $cov(X,Y)=M(X\cdot Y)$

Если $Q$ - матрица столбцов стандартизированных случайных величин $q_1,q_2,\ldots, q_n$ (с нулевым математическим ожиданием и единичной дисперсией каждая), то корреляционная матрица (она же в этом случае и ковариационная) от $Q$ равна:
$$cor(Q)=cov(Q)=\frac{1}{n}\cdot \left(Q^T\cdot Q\right)$$
Если $A,B$ - две матрицы стандартизованных случайных величин размерности $m\cdot n$, $m\cdot n$ соответственно, кросс-корреляционная матрица определяется как:
$$cov(A,B)=A^T\cdot B$$
4. Математическое ожидание произведения двух зависимых случайных величин равно:
$$M(XY)=M(X)M(Y)+\rho\cdot \sigma_X\sigma_Y$$
5. Если $X$ - случайная величина с нулевым математическим ожиданием, то:
$$D(X)=M((X-M(X))^2)=M(X^2)=cov(X,X)$$
6. Для квадратных матриц  $A$,   $B$ одинаковой размерности справедливо:
$$A\cdot B^T=(B\cdot A^T)^T$$
$$\left(AB\right)^T=B^T\cdot A^T$$

In [6]:
import numpy as np
A=np.matrix([[1,2,3],[4,5,6],[7,8,9]])
print("A=",A)
B=np.matrix([[5,6,7],[8,9,10]])
print("B=",B)

print(np.dot(A,np.transpose(B)))

print(np.transpose(np.dot(B,np.transpose(A))))

A= [[1 2 3]
 [4 5 6]
 [7 8 9]]
B= [[ 5  6  7]
 [ 8  9 10]]
[[ 38  56]
 [ 92 137]
 [146 218]]
[[ 38  56]
 [ 92 137]
 [146 218]]

In [41]:
np.transpose(np.dot(B, A))

matrix([[ 78, 114],
        [ 96, 141],
        [114, 168]])

In [42]:
np.dot(np.transpose(A),np.transpose(B))

matrix([[ 78, 114],
        [ 96, 141],
        [114, 168]])

In [181]:
import numpy as np
import pandas as pd
A=np.matrix([[1,2,3],[4,5,6],[3,2,1]])

print(A)

display(pd.DataFrame(A).corr())

from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(A)
print(scaler.mean_)
print(scaler.scale_)
B=scaler.transform(A)
print(B)

print(np.dot(np.transpose(B),B)/3)

[[1 2 3]
 [4 5 6]
 [3 2 1]]

          0         1         2
0  1.000000  0.755929  0.433555
1  0.755929  1.000000  0.917663
2  0.433555  0.917663  1.000000

[2.66666667 3.         3.33333333]
[1.24721913 1.41421356 2.05480467]
[[-1.33630621 -0.70710678 -0.16222142]
 [ 1.06904497  1.41421356  1.29777137]
 [ 0.26726124 -0.70710678 -1.13554995]]
[[1.         0.75592895 0.43355498]
 [0.75592895 1.         0.91766294]
 [0.43355498 0.91766294 1.        ]]

7. Пусть задана некоторая квадратная матрица $Q$ размерностью $n\cdot n$, если выполняется соотношение:
$$Q\cdot X=\alpha X$$
где $X$ - некоторый вектор столбец размерностью $n$, $\alpha$ - некоторое число, 

то вектор $X$ называется собственным вектором матрицы $Q$, $\alpha$ - собственным значением матрицы $Q$.

Рассмотрим на примере.

Пусть $$Q=\left(\begin{matrix} -1 & -6 \\ 
                               2 & 6 
               \end{matrix}\right)$$
Тогда получаем:

$$\left(\begin{matrix} -1 & -6 \\ 
                               2 & 6 
               \end{matrix}\right)\cdot \left(\begin{matrix} x_1 \\ x_2
               \end{matrix}\right)=\alpha\cdot \left(\begin{matrix} x_1 \\ x_2
               \end{matrix}\right)$$
Приходим к системе уравнений:
$$
\begin{equation*}
 \begin{cases}
   -1x_1-6x_2=\alpha x_1
   \\
   2x_1+6x_2=\alpha x_2
 \end{cases}
\end{equation*}
$$
$$
\begin{equation*}
 \begin{cases}
   (-1-\alpha)x_1-6x_2=0
   \\
   2x_1+(6-\alpha)x_2=0
 \end{cases}
\end{equation*}
$$
Поскольку по определению собственных векторов, нас не устраивают нулевые решения, то 
нужно искать линейно зависимые решения (т.е. условие равенства нулю главного определителя системы уравнений):
$$\left(\begin{matrix} -1-\alpha & -6 \\ 
                               2 & 6-\alpha 
               \end{matrix}\right)=0\Rightarrow \alpha^2-5\alpha+12=0$$
$$\alpha_1=2, \alpha_2=3$$ 
Найдем собственные вектора:
$$
\begin{equation*}
 \begin{cases}
   (-1-2)x_1-6x_2=0
   \\
   2x_1+(6-2)x_2=0
 \end{cases}
\end{equation*}\Rightarrow x_1=-2x_2
$$
$$
\begin{equation*}
 \begin{cases}
   (-1-3)x_1-6x_2=0
   \\
   2x_1+(6-3)x_2=0
 \end{cases}
\end{equation*}\Rightarrow x_1=-\frac{3}{2}x_2
$$
Выберем ортонормированную систему векторов:
$$\overline{x_1}=\frac{x_1}{\sqrt{x_1^2+x_2^2}}, \overline{x_2}=\frac{x_2}{\sqrt{x_1^2+x_2^2}}$$
$$\overline{x_1}=\frac{-2x_2}{\sqrt{4x_2^2+x_2^2}}=\frac{-2}{\sqrt{5}}=-0.8944271909999159,$$
$$\overline{x_2}=\frac{x_2}{\sqrt{4x_2^2+x_2^2}}=\frac{1}{\sqrt{5}}=0.4472135954999579$$
Аналогично находится второй собственный вектор.

В python для получения собственных векторов и собственных значений используют библиотеку numpy:

In [17]:
import numpy as np
Q=np.matrix([[-1,-6],[2,6]])
R=np.linalg.eig(Q)
R

(array([2., 3.]),
 matrix([[-0.89442719,  0.83205029],
         [ 0.4472136 , -0.5547002 ]]))

Проведем проверки:

In [27]:
print(np.dot(Q,R[1][:,0]))
print(R[0][0]*R[1][:,0])

[[-1.78885438]
 [ 0.89442719]]
[[-1.78885438]
 [ 0.89442719]]

In [28]:
print(np.dot(Q,R[1][:,1]))
print(R[0][1]*R[1][:,1])

[[ 2.49615088]
 [-1.66410059]]
[[ 2.49615088]
 [-1.66410059]]

## Теоретическое обоснование метода

Если для  $j$-го объекта анализа множество влияющих факторов представлено значениями $\{p_{j,1},p_{j,2},\ldots p_{j,n}\}$, а множество результативных показателей представлено значениями  $\{w_{j,1},w_{j,2},\ldots w_{j,m}\}$, то значения канонических переменных для  $j$-го объекта определяются в виде:
\begin{equation*}
u_{j}=\alpha _{1}\cdot p_{j,1}+\alpha _{2}\cdot p_{j,2}+\ldots +\alpha_{n}\cdot p_{j,n}
\end{equation*}
 $$v_{j}=\beta _{1}\cdot w_{j,1}+\beta _{2}\cdot w_{j,2}+\ldots +\beta_{m}\cdot w_{j,m},$$
что в матричной форме для всех  $k$ объектов анализа может быть представлено в виде:
 \begin{eqnarray}\label{m_f2}U=\alpha \cdot P^{T}, V=\beta \cdot W^{T},\end{eqnarray}
где  $U=(u_{1},u_{2},\ldots ,u_{k})$,  $V=(v_{1},v_{2},\ldots ,v_{k})$ - полученные векторы канонических переменных, $P^{T},W^{T}$ - соответствующие транспонированные матрицы, $\alpha=(\alpha _{1}, \alpha _{2}, \ldots, \alpha _{n}), \beta=(\beta _{1}, \beta _{2}, \ldots, \beta_{m})$

Если рассматривать  $U=(u_{1},u_{2},\ldots ,u_{k})$  и  $V=(v_{1},v_{2},\ldots ,v_{k})$  как реализации двух случайных величин  $u,v$, то задача сводится к нахождению значений коэффициентов линейных комбинаций  $\alpha$  и  $\beta$, так, чтобы обеспечить максимальную корреляцию между  $u,v$.

Перед проведением расчетов, как правило, выполняется стандартизация исходных переменных множеств $\{p_{1,}p_{2,}\ldots p_{n}\}$ и  $\{w_{1},w_{2},\ldots w_{m}\}$ в виде:
\begin{equation*}
\tilde{p}_{h,i}=\frac{p_{h,i}-M(p_{i})}{\sigma _{p_{i}}}
\end{equation*}
 \begin{eqnarray}\label{m_f3}{\tilde {{w}}}_{h,j}=\frac{w_{h,j}-M(w_{j})}{\sigma _{w_{j}}},\end{eqnarray}
где  $M(p_{i}),M(w_{j})$ - средние значения  $p_{i},w_{j}$ на выборке соответственно; $\sigma _{p_{i}},\sigma _{w_{j}}$ - стандартные отклонения $p_{i},w_{j}$  на выборке соответственно.

Тогда канонические переменные для каждого  $j$-го объекта определяют в виде: 
\begin{equation*}
u_{j}=\alpha _{1}\cdot {\tilde {{p}}}_{j,1}+\alpha _{2}\cdot {\tilde{{p}}}_{j,2}+\ldots +\alpha _{n}\cdot {\tilde {{p}}}_{j,n}
\end{equation*}
 $$v_{j}=\beta _{1}\cdot {\tilde {{w}}}_{j,1}+\beta _{2}\cdot {\tilde{{w}}}_{j,2}+\ldots +\beta _{m}\cdot {\tilde {{w}}}_{j,m},$$
поэтому как легко заметить:
 $$M(U)=M(\alpha _{1}\cdot {\tilde {{p}}}_{1}+\alpha _{2}\cdot {\tilde{{p}}}_{2}+\ldots +\alpha _{n}\cdot \tilde {{p_{n}}})=\alpha _{1}\cdot M(\tilde {{p_{1}}})+\alpha _{2}\cdot M(\tilde {{p_{2}}})+\ldots +\alpha_{n}\cdot M(\tilde {{p_{n}}})$$
$$M(U)=0$$
$$M(V)=M(\beta _{1}\cdot \tilde {{w_{1}}}+\beta _{2}\cdot \tilde{{w_{2}}}+\ldots +\beta _{m}\cdot \tilde {{w_{m}}})=\beta _{1}\cdot M(\tilde {{w_{1}}})+\beta _{2}\cdot M(\tilde {{w_{2}}})+\ldots +\beta_{m}\cdot M(\tilde {{w_{m}}})$$
$$M(V)=0$$

Для интерпретации канонических переменных оценим случайную величину  $U$ в виде  $a\cdot V$ (т.е. оценим линейную связь между $U$ и $V$).

Найдем среднюю квадратичную ошибку такого приближения:
 \begin{eqnarray}\label{m_f4}M((U-a\cdot V)^{2})=\sigma _{u}^{2}-2\cdot a\cdot \sigma _{u}\cdot\sigma _{v}\cdot \rho +a^{2}\cdot \sigma _{v}^{2},\end{eqnarray}
где  $\rho $ - коэффициент канонической корреляции между каноническими переменными  $u,v$; $\sigma _{u},\sigma _{v}$ - стандартные отклонения канонических переменных  $U,V$  соответственно.

Найдем, когда достигается минимум  $M((u-a\cdot v)^{2})$ для заданного $a$:
    $$\frac{\partial(\sigma _{u}^{2}-2\cdot a\cdot \sigma _{u}\cdot\sigma _{v}\cdot \rho +a^{2}\cdot \sigma _{v}^{2})}{\partial a}=-2\cdot \sigma _{u}\cdot\sigma _{v}\cdot \rho+2a\sigma _{v}^{2}=0$$

$$\rho=\frac{a\sigma_v}{\sigma_u}$$

В этом случае ошибка достигает значения:
$$\sigma _{u}^{2}-2\cdot a\cdot \sigma _{u}\cdot\sigma _{v}\cdot \frac{a\sigma_v}{\sigma_u} +a^{2}\cdot \sigma _{v}^{2}=\sigma _{u}^{2}-a^2\sigma_v^2=\sigma_u^2(1-\rho^2)$$

Из последнего видно, что чем больше $\rho$, тем точнее можно описать величину $u$ через величину $v$ линейной зависимостью.

Для нахождения векторов  $\alpha =(\alpha _{1},\alpha _{2},\ldots,\alpha _{n})$ и  $\beta =(\beta _{1},\beta _{2},\ldots ,\beta _{m})$ выразим коэффициент корреляции между каноническими переменными  $u,v$:
 $$\rho =\frac{\mathit{cov}(U,V)}{\sigma _{u}\cdot \sigma _{v}}$$
Обозначим:

 $R_{\mathit{PP}}=P^T\cdot P$ - ковариационная матрица факторов  $P$;

 $R_{\mathit{WW}}=W^T\cdot W$- ковариационная матрица показателей $W$;

 $R_{\mathit{PW}}=P^T\cdot W$- кросс ковариационная матрица между  $P$  и $W$.

In [19]:
#Пусть заданы две матрицы:
W=np.matrix([[1,2,3,4],[3,2,3,4],[2,3,1,2],[7,6,5,4],[5,6,8,9],[4,3,2,5],[3,2,1,4]])
P=np.matrix([[3,2,1,2,4],[5,4,3,2,4],[8,7,6,5,6],[4,5,3,3,4],[2,3,5,6,5],[1,2,3,5,4],[9,8,7,0,3]])
display(pd.DataFrame(W))
display(pd.DataFrame(P))

   0  1  2  3
0  1  2  3  4
1  3  2  3  4
2  2  3  1  2
3  7  6  5  4
4  5  6  8  9
5  4  3  2  5
6  3  2  1  4

   0  1  2  3  4
0  3  2  1  2  4
1  5  4  3  2  4
2  8  7  6  5  6
3  4  5  3  3  4
4  2  3  5  6  5
5  1  2  3  5  4
6  9  8  7  0  3

In [20]:
#Проводим стандартизацию:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(W)
Ws=scaler.transform(W)
display(pd.DataFrame(Ws))
scaler = preprocessing.StandardScaler().fit(P)
Ps=scaler.transform(P)
display(pd.DataFrame(Ps))

          0         1         2         3
0 -1.397071 -0.851257 -0.123560 -0.287183
1 -0.310460 -0.851257 -0.123560 -0.287183
2 -0.853766 -0.255377 -0.988483 -1.292325
3  1.862761  1.532262  0.741362 -0.287183
4  0.776151  1.532262  2.038747  2.225670
5  0.232845 -0.255377 -0.556022  0.215387
6 -0.310460 -0.851257 -0.988483 -0.287183

          0         1         2         3         4
0 -0.567282 -1.106606 -1.556624 -0.649519 -0.324443
1  0.154713 -0.195283 -0.518875 -0.649519 -0.324443
2  1.237705  1.171700  1.037749  0.866025  1.946657
3 -0.206284  0.260378 -0.518875 -0.144338 -0.324443
4 -0.928279 -0.650945  0.518875  1.371207  0.811107
5 -1.289277 -1.106606 -0.518875  0.866025 -0.324443
6  1.598703  1.627361  1.556624 -1.659882 -1.459993

In [27]:
#Выберем какие-нибудь alpha, beta:
alpha=np.matrix([[2,3,4,5,8]])
beta=np.matrix([[5,4,6,8]])
display(pd.DataFrame(alpha))
display(pd.DataFrame(beta))

   0  1  2  3  4
0  2  3  4  5  8

   0  1  2  3
0  5  4  6  8

In [56]:
#Найдем канонические переменные:
U=np.dot(alpha, np.transpose(Ps))
V=np.dot(beta, np.transpose(Ws))
display(pd.DataFrame(U))
display(pd.DataFrame(V))

           0        1          2         3          4         5         6
0 -16.524013 -8.19506  30.044891 -5.024164  11.610997 -6.239284 -5.673368

           0         1          2          3          4         5          6
0 -13.429209 -7.996156 -21.559833  17.593562  40.047643 -1.470314 -13.185693

In [86]:
#Оценим корреляцию канонических переменных:
print(np.corrcoef(U,V))
import math

np.dot(U,np.transpose(V))/(6*np.std(U,ddof=1)*np.std(V,ddof=1))

[[1.         0.04935959]
 [0.04935959 1.        ]]

matrix([[0.04935959]])

In [88]:
#Выполним расчет введенных матриц:
Rpp=np.dot(np.transpose(Ps),Ps)
Rww=np.dot(np.transpose(Ws),Ws)
Rpw=np.dot(np.transpose(Ps),Ws)
display(pd.DataFrame(Rpp))
display(pd.DataFrame(Rww))
display(pd.DataFrame(Rpw))

          0         1             2             3         4
0  7.000000  6.626699  4.870122e+00 -3.673437e+00 -0.058562
1  6.626699  7.000000  5.674344e+00 -2.729415e+00  0.073918
2  4.870122  5.674344  7.000000e+00 -1.962556e-16  1.178416
3 -3.673437 -2.729415 -1.962556e-16  7.000000e+00  5.408783
4 -0.058562  0.073918  1.178416e+00  5.408783e+00  7.000000

          0         1         2         3
0  7.000000  5.919901  4.195690  2.925529
1  5.919901  7.000000  5.706102  3.978694
2  4.195690  5.706102  7.000000  5.837197
3  2.925529  3.978694  5.837197  7.000000

          0         1         2             3
0 -2.213488 -2.734983 -4.081357 -4.224651e+00
1 -0.176831 -0.892134 -3.124743 -3.369600e+00
2  0.281907  0.309187 -1.346359 -1.311231e-16
3  1.882065  3.956359  3.152232  3.010403e+00
4 -0.705086  2.126617  1.192627 -8.152773e-02

In [188]:
G=np.array([1,1,2,1,1.5,1])
D=np.array([1,1,2,1,1,1])
left=math.sqrt((G**2).sum()*(D**2).sum())
right=(G*D).sum()
print(left,right)

9.604686356149273 9.5

Получим:
$$\rho =\frac{\mathit{cov}(\alpha \cdot P^{T},\beta \cdot W^{T})}{\sigma_{u}\cdot \sigma _{v}}=\frac{\alpha \cdot P^{T}\cdot (\beta\cdot W^T)^T}{k\sigma_{u}\cdot \sigma _{v}}=\frac{\alpha \cdot P^{T}\cdot W\cdot \beta^T}{k\sigma_{u}\cdot \sigma _{v}}$$

С учетом введенных обозначений:
\begin{eqnarray}\label{m_f5}\nonumber\frac{\alpha \cdot \mathit{cov}(P,W)\cdot \beta ^{T}}{\sigma _{u}\cdot\sigma _{v}}=\\\
  \frac{\alpha \cdot R_{\mathit{PW}}\cdot \beta^{T}}{\sqrt{\alpha \cdot R_{\mathit{PP}}\cdot \alpha ^{T}}\cdot\sqrt{\beta \cdot R_{\mathit{WW}}\cdot \beta ^{T}}}\end{eqnarray}

In [182]:
chis=np.dot(np.dot(alpha, Rpw),np.transpose(beta))
znam1=math.sqrt(np.dot(np.dot(alpha, Rpp),np.transpose(alpha)))
znam2=math.sqrt(np.dot(np.dot(beta, Rww),np.transpose(beta)))
chis/(znam1*znam2)

matrix([[0.04935959]])

Введем также обозначения:
 $$\begin{eqnarray}\label{m_f6}c=\sqrt{R_{\mathit{PP}}}\cdot \alpha^{T},d=\sqrt{R_{\mathit{WW}}}\cdot \beta ^{T},\end{eqnarray}$$
откуда

 $$\begin{eqnarray}\label{m_f7}\alpha =c^{T}\cdot (R_{\mathit{PP}})^{-1/2},\end{eqnarray}$$
 $$\begin{eqnarray}\label{m_f8}\beta ^{T}=(R_{\mathit{WW}})^{-1/2}\cdot d\end{eqnarray}$$
Тогда 
 $$\begin{eqnarray}\label{m_f9}\nonumber\frac{\alpha \cdot R_{\mathit{PW}}\cdot \beta ^{T}}{\sqrt{\alpha \cdot R_{\mathit{PP}}\cdot \alpha ^{T}}\cdot \sqrt{\beta \cdot R_{\mathit{WW}}\cdot \beta ^{T}}}=\\\frac{c^{T}\cdot (R_{\mathit{PP}})^{-1/2}\cdot {R_{\mathit{PW}}}\cdot (R_{\mathit{WW}})^{-1/2}\cdot d}{\sqrt{c^{T}\cdot c\cdot d^{T}\cdot d}}\end{eqnarray}$$

Рассмотрим выражение
$$\begin{eqnarray}\label{m_f10}\nonumber G\cdot G^{T}=(c^{T}\cdot (R_{\mathit{PP}})^{-1/2}\cdot{R_{\mathit{PW}}}\cdot (R_{\mathit{WW}})^{-1/2})\cdot \\\ \nonumber (c^{T}\cdot(R_{\mathit{PP}})^{-1/2}\cdot {R_{\mathit{PW}}}\cdot(R_{\mathit{WW}})^{-1/2})^{T}\\\
G\cdot G^{T}=g_{1}^{2}+g_{2}^{2}+\ldots+g_{m}^{2}\end{eqnarray}$$
а также
 $$d^{T}\cdot d=d_{1}^{2}+d_{2}^{2}+\ldots +d_{m}^{2}$$
Используя неравенство Коши-Шварца, имеем:
$$\begin{equation*}
\sqrt{(g_{1}^{2}+g_{2}^{2}+\ldots q_{m}^{2})\cdot(d_{1}^{2}+d_{2}^{2}+\ldots d_{m}^{2})}\geqslant g_{1}\cdot d_{1}+g_{2}\cdot d_{2}+\ldots g_{m}\cdot d_{m}
\end{equation*}$$
или  $\sqrt{G\cdot G^{T}\cdot d^{T}\cdot d}\geqslant G\cdot d$.

Поэтому
 $$\begin{eqnarray}\label{m_f11}\nonumber \rho =\frac{c^{T}\cdot (R_{\mathit{PP}})^{-1/2}\cdot{R_{\mathit{PW}}}\cdot (R_{\mathit{WW}})^{-1/2}\cdot d}{\sqrt{c^{T}\cdot c\cdot d^{T}\cdot d}}=\frac{G\cdot d}{\sqrt{c^{T}\cdot c\cdot d^{T}\cdot d}}\leqslant  \frac{\sqrt{G\cdot G^{T}\cdot d^{T}\cdot d}}{\sqrt{c^{T}\cdot c\cdot d^{T}\cdot d}}=\frac{\sqrt{G\cdot G^{T}}}{\sqrt{c^{T}\cdot c}}\end{eqnarray}$$
Окончательно выражение можно переписать в виде:
$$ \begin{eqnarray}\label{m_f12}\rho \leqslant \frac{\sqrt{c^{T}\cdot (R_{\mathit{PP}})^{-1/2}\cdot R_{\mathit{PW}}\cdot (R_{\mathit{WW}})^{-1}\cdot {R_{WP}}\cdot (R_{\mathit{PP}})^{-1/2}\cdot c}}{\sqrt{c^{T}\cdot c}}\end{eqnarray}$$

Если в качестве  $c$ взять собственный вектор матрицы  
$$(R_{\mathit{PP}})^{-1/2}\cdot R_{\mathit{PW}}\cdot (R_{\mathit{WW}})^{-1}\cdot {R_{WP}}\cdot (R_{\mathit{PP}})^{-1/2},$$ 
то  $$(R_{\mathit{PP}})^{-1/2}\cdot R_{\mathit{PW}}\cdot (R_{\mathit{WW}})^{-1}\cdot {R_{WP}}\cdot (R_{\mathit{PP}})^{-1/2}\cdot c=\lambda \cdot c,$$
где  $\lambda $ - собственное значение, соответствующее собственному вектору  $c,$  тогда
$$ \begin{eqnarray}\label{m_f13}\rho \leqslant \frac{\sqrt{c^{T}\lambda \cdot c}}{\sqrt{c^{T}\cdot c}}=\sqrt{\lambda }\end{eqnarray}$$

Зная  $c$, можно найти искомый вектор  $\alpha =(\alpha _{1},\alpha _{2},\ldots ,\alpha _{n})=c^{T}\cdot (R_{\mathit{PP}})^{-1/2}.$

Для нахождения вектора  $\beta $ заметим, что  можно выполнить другую группировку, а именно, взяв в качестве матрицы  $G$ матрицу  $$G'=(R_{\mathit{PP}})^{-1/2}\cdot {R_{\mathit{PW}}}\cdot (R_{\mathit{WW}})^{-1/2}\cdot d$$  и рассмотрев произведение  $$(G')^{T}\cdot G'=d^{T}\cdot (R_{\mathit{WW}})^{(-1/2)}\cdot R_{WP}\cdot R_{\mathit{PP}}^{-1}\cdot R_{\mathit{PW}}\cdot (R_{\mathit{WW}})^{-1/2}\cdot d$$

Тогда в качестве  $d$ следует взять собственный вектор матрицы  $$(R_{\mathit{WW}})^{(-1/2)}\cdot R_{WP}\cdot R_{\mathit{PP}}^{-1}\cdot R_{\mathit{PW}}\cdot (R_{\mathit{WW}})^{-1/2}$$ после чего можно выразить искомый вектор $\beta =(\beta _{1},\beta _{2},\ldots ,\beta _{m})=d^T\cdot (R_{WW})^{1/2}$.

Поскольку для матрицы  $$(R_{\mathit{PP}})^{-1/2}\cdot R_{\mathit{PW}}\cdot (R_{\mathit{WW}})^{-1}\cdot {R_{WP}}\cdot (R_{\mathit{PP}})^{-1/2}$$  существует несколько собственных векторов, отличающихся величиной собственного значения, то в практике использования канонического корреляционного анализа находят  $\mathit{min}(n,m)$ собственных векторов с последовательно убывающими собственными значениями, что соответствует группе канонических переменных:  $$\{(U_{1},V_{1}),(U_{2},V_{2}),\ldots,(U_{\mathit{min}(n,m)},V_{\mathit{min}(n,m)})\}$$ с соответствующими
последовательно убывающими каноническими корреляциями:  $$\{\rho_{1},\rho _{2},\ldots ,\rho _{\mathit{min}(n,m)}\}$$ Причем за счет ортогональности собственных векторов выполнено условие:
 $$\mathit{cor}(U_{i},U_{j})=\mathit{cor}(V_{i},V_{j})=0,i\neq j$$
Чем больше канонические корреляции, тем сильнее связаны группы показателей  $P$  и   $W$ . 

Поэтому естественным образом возникает вопрос проверки значимости канонических переменных. Для этой цели в теории канонического корреляционного анализа традиционно используют критерий Пирсона  $\chi^{2}$. Если вычислено  $s=\mathit{min}(n,m)$  канонических корреляций  $\rho _{1}<\rho _{2}<\ldots <\rho _{s}$ , то выдвигаются  $s$ нулевых гипотез:
 $$H_{0j}:\rho _{j}=0,j=1,...,s$$
При проверке гипотез статистика  $\chi^{2}$  вычисляется по формуле:
$$ \begin{eqnarray}\label{m_f14} \chi_{j}^{2}=(k-j-\frac{1}{2}\cdot (m+n+1)+\sum _{l=1}^{j-1}\rho_{l}^{2})\cdot \ln \prod _{h=j}^{s}(1-\rho _{h}^{2}), \end{eqnarray}$$
где  $k$ - объем исходной выборки (на практике целесообразно использовать выборки  $k>200$, на выборках  $k<50$  может быть определена лишь сильная каноническая корреляция); $n$  - количество влияющих факторов ; $m$  - количество результативных показателей; $\rho _{l},\rho _{h}$ -  оценки  $l,h$-го коэффициента канонической корреляции. 

Число степеней свободы статистики равно  $(n-j+1)\cdot (m-j+1)$. Если значение статистики превосходит критическое значение при заданном уровне значимости  $\alpha $, или  достигнутый уровень значимости  $p$ не превосходит  $\alpha $ , то данные противоречат гипотезе  $H_{0j}:\rho _{j}=0$  и значит  $\rho _{j}$  отлично от нуля. Если нулевая гипотеза не отвергается для  $\rho _{j}$ , то равны нулю и все последующие канонические корреляции  $\rho _{l}=0,l=j,...,s$

Для использования метода канонических корреляций в Python необходимо подключить библиотеку:

In [100]:
from sklearn.cross_decomposition import CCA

Метод CCA имеет следующие параметры:

**sklearn.cross_decomposition.CCA(X,Y,n_components=2, scale=True, copy=True)**

**X,Y** - входные данные для P, W соответственно.

**n_components** - число компонент (канонических переменных), которые будут рассчитываться. Значение по умолчанию 2, допустимо число $min(n,m)$

**scale** - логическое значение, означающее проведение стандартизации внутри метода. По умолчанию стандартизация включена.

**copy** - требование работать с копиями массивов X, Y - стандартизация проводится на копиях, если значение этого параметра установлено в True. Значение по умолчаннию - True.

Рассмотрим использование данного метода на примере следующих данных:

In [109]:
data = pd.read_excel("https://github.com/junaart/DataForR/blob/main/%D0%9D%D0%B0%D1%83%D0%BA%D0%BE%D0%B3%D1%80%D0%B0%D0%B4%D1%8B%20%D1%81%D0%B0%D0%BC%D0%B8.xlsx?raw=true", sheet_name="R3-2018")
display(data)
W=pd.DataFrame()
W["P1_1"]=data["P1_1"]
W["P1_2"]=data["P1_2"]
W["P1_3"]=data["P1_3"]
display(W)
P=data.iloc[:,5:9]
display(P)

,Unnamed: 0,P1_1,P1_2,P1_3,P2_1,P2_2,P2_3,P2_4,P2_5,P2_6,...,P3_7,P3_8,P4_1,P4_2,P4_3,P4_4,P4_5,P4_6,P4_7,P4_8
0,Бийск,210968,11182,58053,50,244,325,51.59,27.50,574.00,...,24,11,23.63,18.08,1125.300,90.45,11.39,14822.500,37.00,0.00
1,Дубна,75144,41363,29409,360,845,581,20.17,8.99,2009.00,...,35,34,29.00,14.34,896.870,20.30,1.12,15822.550,40.56,0.00
2,Жуковский,108055,58486,38344,108,405,1930,31.43,6.94,3251.00,...,99,88,21.11,8.13,9296.300,50.53,33.49,5749.600,37.64,4.86
3,Кольцово,16959,8673,7138,33,163,167,12.00,7.00,1399.00,...,13,13,76.00,66.00,759.200,99.00,7.00,4714.400,26.00,4.00
4,Королев,224533,126813,74494,136,821,2564,33.10,13.10,6615.00,...,152,145,21.10,20.30,28301.739,42.10,26.70,42949.169,74.50,4.60
5,Мичуринск,92477,51014,20419,59,289,325,26.00,51.00,1270.70,...,8,33,46.00,9.00,229.600,0.00,0.00,31.800,0.00,0.90
6,Обнинск,116590,63364,48100,176,654,805,31.70,21.10,2482.00,...,87,81,38.00,3.80,5004.000,91.20,22.20,29195.000,34.80,3.50
7,Протвино,36103,19372,11617,66,162,159,17.50,18.16,653.00,...,3,3,45.79,19.68,4662.530,39.63,11.19,3483.640,49.67,0.17
8,Пущино,20879,11115,5031,176,545,400,5.11,25.00,753.00,...,11,10,6.91,34.50,187.348,8.00,4.26,38.260,5.86,50.00
9,Реутов,106962,63961,28694,6,69,798,16.16,0.16,17.67,...,53,51,22.83,27.49,4140.170,51.33,14.83,45618.570,77.11,15.72
10,Троицк,61002,31000,14000,207,492,274,22.05,0.00,713.10,...,29,28,22.30,19.10,600.063,37.08,24.60,32953.835,47.75,0.00
11,Фрязино,60216,33350,21987,66,224,102,5.61,13.50,2596.20,...,32,31,44.90,91.38,6797.350,91.10,80.50,12549.650,14.51,0.00
12,Черноголовка,23060,13819,9147,262,659,435,46.50,11.00,936.00,...,27,28,18.00,23.60,2814.200,100.00,4.40,3025.900,26.10,25.70

      P1_1    P1_2   P1_3
0   210968   11182  58053
1    75144   41363  29409
2   108055   58486  38344
3    16959    8673   7138
4   224533  126813  74494
5    92477   51014  20419
6   116590   63364  48100
7    36103   19372  11617
8    20879   11115   5031
9   106962   63961  28694
10   61002   31000  14000
11   60216   33350  21987
12   23060   13819   9147

    P2_2  P2_3   P2_4   P2_5
0    244   325  51.59  27.50
1    845   581  20.17   8.99
2    405  1930  31.43   6.94
3    163   167  12.00   7.00
4    821  2564  33.10  13.10
5    289   325  26.00  51.00
6    654   805  31.70  21.10
7    162   159  17.50  18.16
8    545   400   5.11  25.00
9     69   798  16.16   0.16
10   492   274  22.05   0.00
11   224   102   5.61  13.50
12   659   435  46.50  11.00

In [189]:
#Выполним стандартизацию
scaler = preprocessing.StandardScaler().fit(W)
Ws=scaler.transform(W)
display(pd.DataFrame(Ws))
scaler = preprocessing.StandardScaler().fit(P)
Ps=scaler.transform(P)
display(pd.DataFrame(Ps))

           0         1         2
0   1.906398 -0.944546  1.458084
1  -0.211162  0.010238  0.059652
2   0.301936  0.551928  0.495869
3  -1.118294 -1.023919 -1.027643
4   2.117883  2.713471  2.260752
5   0.059068  0.315550 -0.379250
6   0.435001  0.706245  0.972168
7  -0.819830 -0.685453 -0.808974
8  -1.057179 -0.946666 -1.130509
9   0.284896  0.725131  0.024745
10 -0.431643 -0.317599 -0.692633
11 -0.443897 -0.243256 -0.302698
12 -1.023176 -0.861124 -0.929562

           0         1         2         3
0  -0.736994 -0.501868  1.980574  0.905556
1   1.662228 -0.141908 -0.319313 -0.508946
2  -0.094274  1.754917  0.504899 -0.665603
3  -1.060350 -0.724032 -0.917342 -0.661018
4   1.566419  2.646382  0.627139 -0.194867
5  -0.557352 -0.501868  0.107432  2.701386
6   0.899747  0.173058  0.524662  0.416480
7  -1.064342 -0.735280 -0.514752  0.191810
8   0.464613 -0.396411 -1.421678  0.714511
9  -1.435603  0.163215 -0.612838 -1.183719
10  0.253035 -0.573579 -0.181700 -1.195946
11 -0.816835 -0.815428 -1.385078 -0.164299
12  0.919707 -0.347198  1.607995 -0.355345

In [190]:
#Используем метод:
ca = CCA(n_components=3, scale=False, copy=True)
ca.fit(Ps,Ws)
U, V=ca.transform(Ps,Ws)
print(U)
print("--------------------------------------------")
print(V)

[[-0.81589975  2.13560278  0.3685981 ]
 [ 0.07601391 -1.23976823  1.36175559]
 [ 1.54555506  0.55612989 -0.43963205]
 [-0.75670165 -0.49825386 -0.54862363]
 [ 2.65316571  0.08436272  0.11765438]
 [-0.30511053  0.97778171 -1.37692796]
 [ 0.23973434  0.11191025  0.64116955]
 [-0.74816189  0.04762618 -0.74049233]
 [-0.02126885 -1.26814709 -0.55477063]
 [-0.0441199  -0.06125219 -0.89287823]
 [-0.61636749 -0.66662046  0.97925189]
 [-0.68774646 -0.88795395 -0.8129937 ]
 [-0.51909251  0.70858225  1.897889  ]]
--------------------------------------------
[[-0.70418087  2.53978781  0.26632828]
 [ 0.14624937 -0.39057475  0.27037544]
 [ 0.49396886 -0.14568655  0.14245721]
 [-0.70194856 -0.55915405  0.13513106]
 [ 2.01060927  0.43839842 -0.11824495]
 [-0.0475645   0.20456669 -0.61928023]
 [ 0.80477135 -0.34802977  0.54805157]
 [-0.505106   -0.40367953  0.01049446]
 [-0.74260777 -0.42618995 -0.07307898]
 [ 0.33912643  0.07365622 -0.47129403]
 [-0.39359396 -0.04467107 -0.33369057]
 [-0.11237673 -0.38046377  0.13015441]
 [-0.58734688 -0.55795971  0.11259633]]

In [ ]:
Чтобы посмотреть все возможные параметры, можно использовать:

In [135]:
dir(ca)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_cache',
 '_abc_negative_cache',
 '_abc_negative_cache_version',
 '_abc_registry',
 '_check_n_features',
 '_estimator_type',
 '_get_param_names',
 '_get_tags',
 '_more_tags',
 '_norm_y_weights',
 '_repr_html_',
 '_repr_html_inner',
 '_repr_mimebundle_',
 '_validate_data',
 '_x_mean',
 '_x_scores',
 '_x_std',
 '_y_mean',
 '_y_scores',
 '_y_std',
 'algorithm',
 'coef_',
 'copy',
 'deflation_mode',
 'fit',
 'fit_transform',
 'get_params',
 'inverse_transform',
 'max_iter',
 'mode',
 'n_components',
 'n_features_in_',
 'n_iter_',
 'norm_y_weights',
 'predict',
 'scale',
 'score',
 'set_params',
 'tol',
 'transform',
 'x_loadings_',
 'x_mean_',
 'x_rotations_',
 'x_scores_',
 'x_std_',
 'x_weights_',
 'y_loadings_',
 'y_mean_',
 'y_rotations_',
 'y_scores_',
 'y_std_',
 'y_weights_']

In [136]:
#Смотрим веса для P, W
#Это вектор alpha
print(ca.x_weights_)

[[ 0.12817957 -0.49520352  0.73057136]
 [ 0.97292788  0.17512172  0.03831302]
 [-0.16379098  0.81107077  0.56082168]
 [ 0.10076632  0.25742975 -0.3876553 ]]

In [137]:
#Это вектор beta
print(ca.y_weights_)

[[-0.4967273   0.85310181  0.15962235]
 [ 0.64293949  0.48523814 -0.59259831]
 [ 0.58300154  0.19173224  0.78952387]]

In [191]:
print(U[:,0])
print("-----------------------------------------")
print(np.dot(np.matrix(ca.x_weights_[:,0]), np.transpose(Ps)))

[-0.81589975  0.07601391  1.54555506 -0.75670165  2.65316571 -0.30511053
  0.23973434 -0.74816189 -0.02126885 -0.0441199  -0.61636749 -0.68774646
 -0.51909251]
-----------------------------------------
[[-0.81589975  0.07601391  1.54555506 -0.75670165  2.65316571 -0.30511053
   0.23973434 -0.74816189 -0.02126885 -0.0441199  -0.61636749 -0.68774646
  -0.51909251]]

In [192]:
print(V[:,0])
print("-----------------------------------------")
print(np.dot(np.matrix(ca.y_weights_[:,0]), np.transpose(Ws)))

[-0.70418087  0.14624937  0.49396886 -0.70194856  2.01060927 -0.0475645
  0.80477135 -0.505106   -0.74260777  0.33912643 -0.39359396 -0.11237673
 -0.58734688]
-----------------------------------------
[[-0.70418087  0.14624937  0.49396886 -0.70194856  2.01060927 -0.0475645
   0.80477135 -0.505106   -0.74260777  0.33912643 -0.39359396 -0.11237673
  -0.58734688]]

In [ ]:
Рассчитаем коэффициенты корреляции между каноническими переменными:

In [127]:
np.corrcoef(U[:, 0], V[:, 0])

array([[1.        , 0.87696319],
       [0.87696319, 1.        ]])

In [124]:
np.corrcoef(U[:, 1], V[:, 1])

array([[1.        , 0.72027305],
       [0.72027305, 1.        ]])

In [170]:
np.corrcoef(U[:, 1], V[:, 0])

array([[ 1.00000000e+00, -5.15944655e-04],
       [-5.15944655e-04,  1.00000000e+00]])

In [171]:
np.corrcoef(V[:, 0], V[:, 1])

array([[ 1.00000000e+00, -9.65123057e-16],
       [-9.65123057e-16,  1.00000000e+00]])

In [180]:
D=pd.DataFrame()
D["V1"]=V[:,0]
D["V2"]=V[:,1]
D["V3"]=V[:,2]
D["U1"]=U[:,0]
D["U2"]=U[:,1]
D["U3"]=U[:,2]
display(D)
display(D.corr())

          V1        V2        V3        U1        U2        U3
0  -0.704181  2.539788  0.266328 -0.815900  2.135603  0.368598
1   0.146249 -0.390575  0.270375  0.076014 -1.239768  1.361756
2   0.493969 -0.145687  0.142457  1.545555  0.556130 -0.439632
3  -0.701949 -0.559154  0.135131 -0.756702 -0.498254 -0.548624
4   2.010609  0.438398 -0.118245  2.653166  0.084363  0.117654
5  -0.047565  0.204567 -0.619280 -0.305111  0.977782 -1.376928
6   0.804771 -0.348030  0.548052  0.239734  0.111910  0.641170
7  -0.505106 -0.403680  0.010494 -0.748162  0.047626 -0.740492
8  -0.742608 -0.426190 -0.073079 -0.021269 -1.268147 -0.554771
9   0.339126  0.073656 -0.471294 -0.044120 -0.061252 -0.892878
10 -0.393594 -0.044671 -0.333691 -0.616367 -0.666620  0.979252
11 -0.112377 -0.380464  0.130154 -0.687746 -0.887954 -0.812994
12 -0.587347 -0.557960  0.112596 -0.519093  0.708582  1.897889

,V1,V2,V3,U1,U2,U3
V1,1.000000e+00,-9.835746e-16,-2.788224e-16,8.769632e-01,-5.159447e-04,2.376614e-07
V2,-9.835746e-16,1.000000e+00,6.544655e-16,-5.790848e-16,7.202731e-01,-1.968671e-04
V3,-2.788224e-16,6.544655e-16,1.000000e+00,-3.335704e-17,3.747469e-16,4.593420e-01
U1,8.769632e-01,-5.790848e-16,-3.335704e-17,1.000000e+00,1.989503e-16,4.960120e-16
U2,-5.159447e-04,7.202731e-01,3.747469e-16,1.989503e-16,1.000000e+00,6.666249e-16
U3,2.376614e-07,-1.968671e-04,4.593420e-01,4.960120e-16,6.666249e-16,1.000000e+00

Полное описание атрибутов метода доступно по ссылке:
https://scikit-learn.org/stable/modules/generated/sklearn.cross_decomposition.CCA.html