1. Выполнить инсталяцию пакета pydataset, для этого в консоле наберите команду:
> pip3 install pydataset
2. Подгрузите пакет в рабочее окружение:

In [20]:
import pydataset as pds
#Смотрим содержимое предлагаемых датасетов
for i in range(757):
    display(pds.data().iloc[i])

dataset_id                                  AirPassengers
title         Monthly Airline Passenger Numbers 1949-1960
Name: 0, dtype: object

dataset_id                              BJsales
title         Sales Data with Leading Indicator
Name: 1, dtype: object

dataset_id                          BOD
title         Biochemical Oxygen Demand
Name: 2, dtype: object

dataset_id                     Formaldehyde
title         Determination of Formaldehyde
Name: 3, dtype: object

dataset_id                                 HairEyeColor
title         Hair and Eye Color of Statistics Students
Name: 4, dtype: object

dataset_id                      InsectSprays
title         Effectiveness of Insect Sprays
Name: 5, dtype: object

dataset_id                                    JohnsonJohnson
title         Quarterly Earnings per Johnson & Johnson Share
Name: 6, dtype: object

dataset_id                        LakeHuron
title         Level of Lake Huron 1875-1972
Name: 7, dtype: object

dataset_id                        LifeCycleSavings
title         Intercountry Life-Cycle Savings Data
Name: 8, dtype: object

dataset_id                      Nile
title         Flow of the River Nile
Name: 9, dtype: object

dataset_id                OrchardSprays
title         Potency of Orchard Sprays
Name: 10, dtype: object

dataset_id                                   PlantGrowth
title         Results from an Experiment on Plant Growth
Name: 11, dtype: object

dataset_id                                     Puromycin
title         Reaction Velocity of an Enzymatic Reaction
Name: 12, dtype: object

dataset_id                                  Titanic
title         Survival of passengers on the Titanic
Name: 13, dtype: object

dataset_id                                               ToothGrowth
title         The Effect of Vitamin C on Tooth Growth in Guinea Pigs
Name: 14, dtype: object

dataset_id                        UCBAdmissions
title         Student Admissions at UC Berkeley
Name: 15, dtype: object

dataset_id                              UKDriverDeaths
title         Road Casualties in Great Britain 1969-84
Name: 16, dtype: object

dataset_id                           UKgas
title         UK Quarterly Gas Consumption
Name: 17, dtype: object

dataset_id                              USAccDeaths
title         Accidental Deaths in the US 1973-1978
Name: 18, dtype: object

dataset_id                          USArrests
title         Violent Crime Rates by US State
Name: 19, dtype: object

dataset_id                                               USJudgeRatings
title         Lawyers' Ratings of State Judges in the US Superior Court
Name: 20, dtype: object

dataset_id        USPersonalExpenditure
title         Personal Expenditure Data
Name: 21, dtype: object

dataset_id                          VADeaths
title         Death Rates in Virginia (1940)
Name: 22, dtype: object

dataset_id                     WWWusage
title         Internet Usage per Minute
Name: 23, dtype: object

dataset_id               WorldPhones
title         The World's Telephones
Name: 24, dtype: object

dataset_id                                                airmiles
title         Passenger Miles on Commercial US Airlines, 1937-1960
Name: 25, dtype: object

dataset_id                           airquality
title         New York Air Quality Measurements
Name: 26, dtype: object

dataset_id                                                       anscombe
title         Anscombe's Quartet of 'Identical' Simple Linear Regressions
Name: 27, dtype: object

dataset_id                               attenu
title         The Joyner-Boore Attenuation Data
Name: 28, dtype: object

dataset_id                              attitude
title         The Chatterjee-Price Attitude Data
Name: 29, dtype: object

dataset_id                                                        austres
title         Quarterly Time Series of the Number of Australian Residents
Name: 30, dtype: object

dataset_id                                    cars
title         Speed and Stopping Distances of Cars
Name: 31, dtype: object

dataset_id                        chickwts
title         Chicken Weights by Feed Type
Name: 32, dtype: object

dataset_id                                        co2
title         Mauna Loa Atmospheric CO2 Concentration
Name: 33, dtype: object

dataset_id                          crimtab
title         Student's 3000 Criminals Data
Name: 34, dtype: object

dataset_id                                discoveries
title         Yearly Numbers of Important Discoveries
Name: 35, dtype: object

dataset_id                                        esoph
title         Smoking, Alcohol and (O)esophageal Cancer
Name: 36, dtype: object

dataset_id                                   euro
title         Conversion Rates of Euro Currencies
Name: 37, dtype: object

dataset_id                    faithful
title         Old Faithful Geyser Data
Name: 38, dtype: object

dataset_id                   freeny
title         Freeny's Revenue Data
Name: 39, dtype: object

dataset_id                                                infert
title         Infertility after Spontaneous and Induced Abortion
Name: 40, dtype: object

dataset_id                          iris
title         Edgar Anderson's Iris Data
Name: 41, dtype: object

dataset_id                                  islands
title         Areas of the World's Major Landmasses
Name: 42, dtype: object

dataset_id                                      lh
title         Luteinizing Hormone in Blood Samples
Name: 43, dtype: object

dataset_id                               longley
title         Longley's Economic Regression Data
Name: 44, dtype: object

dataset_id                                        lynx
title         Annual Canadian Lynx trappings 1821-1934
Name: 45, dtype: object

dataset_id                           morley
title         Michelson Speed of Light Data
Name: 46, dtype: object

dataset_id                        mtcars
title         Motor Trend Car Road Tests
Name: 47, dtype: object

dataset_id                                      nhtemp
title         Average Yearly Temperatures in New Haven
Name: 48, dtype: object

dataset_id                                                   nottem
title         Average Monthly Temperatures at Nottingham, 1920-1939
Name: 49, dtype: object

dataset_id                                       npk
title         Classical N, P, K Factorial Experiment
Name: 50, dtype: object

dataset_id                               occupationalStatus
title         Occupational Status of Fathers and their Sons
Name: 51, dtype: object

dataset_id                               precip
title         Annual Precipitation in US Cities
Name: 52, dtype: object

dataset_id                                     presidents
title         Quarterly Approval Ratings of US Presidents
Name: 53, dtype: object

dataset_id                                                  pressure
title         Vapor Pressure of Mercury as a Function of Temperature
Name: 54, dtype: object

dataset_id                               quakes
title         Locations of Earthquakes off Fiji
Name: 55, dtype: object

dataset_id                                               randu
title         Random Numbers from Congruential Generator RANDU
Name: 56, dtype: object

dataset_id                                    rivers
title         Lengths of Major North American Rivers
Name: 57, dtype: object

dataset_id                                      rock
title         Measurements on Petroleum Rock Samples
Name: 58, dtype: object

dataset_id                   sleep
title         Student's Sleep Data
Name: 59, dtype: object

dataset_id                           stackloss
title         Brownlee's Stack Loss Plant Data
Name: 60, dtype: object

dataset_id                                   sunspot.month
title         Monthly Sunspot Data, from 1749 to "Present"
Name: 61, dtype: object

dataset_id                      sunspot.year
title         Yearly Sunspot Data, 1700-1988
Name: 62, dtype: object

dataset_id                              sunspots
title         Monthly Sunspot Numbers, 1749-1983
Name: 63, dtype: object

dataset_id                                                       swiss
title         Swiss Fertility and Socioeconomic Indicators (1888) Data
Name: 64, dtype: object

dataset_id                            treering
title         Yearly Treering Data, -6000-1979
Name: 65, dtype: object

dataset_id                                              trees
title         Girth, Height and Volume for Black Cherry Trees
Name: 66, dtype: object

dataset_id                                    uspop
title         Populations Recorded by the US Census
Name: 67, dtype: object

dataset_id                                                      volcano
title         Topographic Information on Auckland's Maunga Whau Volcano
Name: 68, dtype: object

dataset_id                                     warpbreaks
title         The Number of Breaks in Yarn during Weaving
Name: 69, dtype: object

dataset_id                                             women
title         Average Heights and Weights for American Women
Name: 70, dtype: object

dataset_id                      acme
title         Monthly Excess Returns
Name: 71, dtype: object

dataset_id                                            aids
title         Delay in AIDS Reporting in England and Wales
Name: 72, dtype: object

dataset_id                                 aircondit
title         Failures of Air-conditioning Equipment
Name: 73, dtype: object

dataset_id                                aircondit7
title         Failures of Air-conditioning Equipment
Name: 74, dtype: object

dataset_id                              amis
title         Car Speeding and Warning Signs
Name: 75, dtype: object

dataset_id                                                aml
title         Remission Times for Acute Myelogenous Leukaemia
Name: 76, dtype: object

dataset_id                      bigcity
title         Population of U.S. Cities
Name: 77, dtype: object

dataset_id                             brambles
title         Spatial Location of Bramble Canes
Name: 78, dtype: object

dataset_id                         breslow
title         Smoking Deaths Among Doctors
Name: 79, dtype: object

dataset_id                calcium
title         Calcium Uptake Data
Name: 80, dtype: object

dataset_id                       cane
title         Sugar-cane Disease Data
Name: 81, dtype: object

dataset_id                              capability
title         Simulated Manufacturing Process Data
Name: 82, dtype: object

dataset_id                            catsM
title         Weight Data for Domestic Cats
Name: 83, dtype: object

dataset_id                            cav
title         Position of Muscle Caveolae
Name: 84, dtype: object

dataset_id                                     cd4
title         CD4 Counts for HIV-Positive Patients
Name: 85, dtype: object

dataset_id               channing
title         Channing House Data
Name: 86, dtype: object

dataset_id                         city
title         Population of U.S. Cities
Name: 87, dtype: object

dataset_id                            claridge
title         Genetic Links to Left-handedness
Name: 88, dtype: object

dataset_id                       cloth
title         Number of Flaws in Cloth
Name: 89, dtype: object

dataset_id                 co.transfer
title         Carbon Monoxide Transfer
Name: 90, dtype: object

dataset_id                              coal
title         Dates of Coal Mining Disasters
Name: 91, dtype: object

dataset_id                               darwin
title         Darwin's Plant Height Differences
Name: 92, dtype: object

dataset_id                              dogs
title         Cardiac Data for Domestic Dogs
Name: 93, dtype: object

dataset_id                                            downs.bc
title         Incidence of Down's Syndrome in British Columbia
Name: 94, dtype: object

dataset_id                                                     ducks
title         Behavioral and Plumage Characteristics of Hybrid Ducks
Name: 95, dtype: object

dataset_id                               fir
title         Counts of Balsam-fir Seedlings
Name: 96, dtype: object

dataset_id                          frets
title         Head Dimensions in Brothers
Name: 97, dtype: object

dataset_id                           grav
title         Acceleration Due to Gravity
Name: 98, dtype: object

dataset_id                        gravity
title         Acceleration Due to Gravity
Name: 99, dtype: object

dataset_id                      hirose
title         Failure Time of PET Film
Name: 100, dtype: object

dataset_id                               islay
title         Jura Quartzite Azimuths on Islay
Name: 101, dtype: object

dataset_id                                              manaus
title         Average Heights of the Rio Negro river at Manaus
Name: 102, dtype: object

dataset_id                            melanoma
title         Survival from Malignant Melanoma
Name: 103, dtype: object

dataset_id                                        motor
title         Data from a Simulated Motorcycle Accident
Name: 104, dtype: object

dataset_id                                    neuro
title         Neurophysiological Point Process Data
Name: 105, dtype: object

dataset_id                                   nitrofen
title         Toxicity of Nitrofen in Aquatic Systems
Name: 106, dtype: object

dataset_id                                   nodal
title         Nodal Involvement in Prostate Cancer
Name: 107, dtype: object

dataset_id                                    nuclear
title         Nuclear Power Station Construction Data
Name: 108, dtype: object

dataset_id                                   paulsen
title         Neurotransmission in Guinea Pig Brains
Name: 109, dtype: object

dataset_id                  poisons
title         Animal Survival Times
Name: 110, dtype: object

dataset_id                                         polar
title         Pole Positions of New Caledonian Laterites
Name: 111, dtype: object

dataset_id                             remission
title         Cancer Remission and Cell Activity
Name: 112, dtype: object

dataset_id                              salinity
title         Water Salinity and River Discharge
Name: 113, dtype: object

dataset_id                                  survival
title         Survival of Rats after Radiation Doses
Name: 114, dtype: object

dataset_id                         tau
title         Tau Particle Decay Modes
Name: 115, dtype: object

dataset_id                  tuna
title         Tuna Sighting Data
Name: 116, dtype: object

dataset_id                  urine
title         Urine Analysis Data
Name: 117, dtype: object

dataset_id                               wool
title         Australian Relative Wool Prices
Name: 118, dtype: object

dataset_id                      aids
title         data from Section 1.19
Name: 119, dtype: object

dataset_id                 alloauto
title         data from Section 1.9
Name: 120, dtype: object

dataset_id                        allograft
title         data from Exercise 13.1, p418
Name: 121, dtype: object

dataset_id                             azt
title         data from Exercise 4.7, p122
Name: 122, dtype: object

dataset_id                          baboon
title         data from Exercise 5.8, p147
Name: 123, dtype: object

dataset_id                   bcdeter
title         data from Section 1.18
Name: 124, dtype: object

dataset_id                     bfeed
title         data from Section 1.14
Name: 125, dtype: object

dataset_id                      bmt
title         data from Section 1.3
Name: 126, dtype: object

dataset_id                            bnct
title         data from Exercise 7.7, p223
Name: 127, dtype: object

dataset_id                   btrial
title         data from Section 1.5
Name: 128, dtype: object

dataset_id                     burn
title         data from Section 1.6
Name: 129, dtype: object

dataset_id                  channing
title         data from Section 1.16
Name: 130, dtype: object

dataset_id                  drug6mp
title         data from Section 1.2
Name: 131, dtype: object

dataset_id                         drughiv
title         data from Exercise 7.6, p222
Name: 132, dtype: object

dataset_id                      hodg
title         data from Section 1.10
Name: 133, dtype: object

dataset_id                   kidney
title         data from Section 1.4
Name: 134, dtype: object

dataset_id                                                 kidrecurr
title         Data on 38 individuals using a kidney dialysis machine
Name: 135, dtype: object

dataset_id                  kidtran
title         data from Section 1.7
Name: 136, dtype: object

dataset_id                   larynx
title         data from Section 1.8
Name: 137, dtype: object

dataset_id                            lung
title         data from Exercise 4.4, p120
Name: 138, dtype: object

dataset_id                   pneumon
title         data from Section 1.13
Name: 139, dtype: object

dataset_id                     psych
title         data from Section 1.15
Name: 140, dtype: object

dataset_id                             rats
title         data from Exercise 7.13, p225
Name: 141, dtype: object

dataset_id                       std
title         data from Section 1.12
Name: 142, dtype: object

dataset_id                         stddiag
title         data from Exercise 5.6, p146
Name: 143, dtype: object

dataset_id                    tongue
title         data from Section 1.11
Name: 144, dtype: object

dataset_id                            twins
title         data from Exercise 7.14, p225
Name: 145, dtype: object

dataset_id                                                 Animals2
title         Brain and Body Weights for 65 Species of Land Animals
Name: 146, dtype: object

dataset_id                                 CrohnD
title         Crohn's Disease Adverse Events Data
Name: 147, dtype: object

dataset_id              NOxEmissions
title         NOx Air Pollution Data
Name: 148, dtype: object

dataset_id                          SiegelsEx
title         Siegel's Exact Fit Example Data
Name: 149, dtype: object

dataset_id         aircraft
title         Aircraft Data
Name: 150, dtype: object

dataset_id              airmay
title         Air Quality Data
Name: 151, dtype: object

dataset_id                             alcohol
title         Alcohol Solubility in Water Data
Name: 152, dtype: object

dataset_id                                        ambientNOxCH
title         Daily Means of NOx (mono-nitrogen oxides) in air
Name: 153, dtype: object

dataset_id                  bushfire
title         Campbell Bushfire Data
Name: 154, dtype: object

dataset_id                      carrots
title         Insect Damages on Carrots
Name: 155, dtype: object

dataset_id                      cloud
title         Cloud point of a Liquid
Name: 156, dtype: object

dataset_id             coleman
title         Coleman Data Set
Name: 157, dtype: object

dataset_id         condroz
title         Condroz Data
Name: 158, dtype: object

dataset_id                                           cushny
title         Cushny and Peebles Prolongation of Sleep Data
Name: 159, dtype: object

dataset_id              delivery
title         Delivery Time Data
Name: 160, dtype: object

dataset_id                     education
title         Education Expenditure Data
Name: 161, dtype: object

dataset_id                     epilepsy
title         Epilepsy Attacks Data Set
Name: 162, dtype: object

dataset_id                                                       exAM
title         Example Data of Antille and May - for Simple Regression
Name: 163, dtype: object

dataset_id                           foodstamp
title         Food Stamp Program Participation
Name: 164, dtype: object

dataset_id                                       hbk
title         Hawkins, Bradu, Kass's Artificial Data
Name: 165, dtype: object

dataset_id                       heart
title         Heart Catherization Data
Name: 166, dtype: object

dataset_id                                                         kootenay
title         Waterflow Measurements of Kootenay River in Libby and Newgate
Name: 167, dtype: object

dataset_id                                        lactic
title         Lactic Acid Concentration Measurement Data
Name: 168, dtype: object

dataset_id                              milk
title         Daudin's Milk Composition Data
Name: 169, dtype: object

dataset_id               pension
title         Pension Funds Data
Name: 170, dtype: object

dataset_id                   phosphor
title         Phosphorus Content Data
Name: 171, dtype: object

dataset_id               pilot
title         Pilot-Plant Data
Name: 172, dtype: object

dataset_id                possumDiv
title         Possum Diversity Data
Name: 173, dtype: object

dataset_id                    pulpfiber
title         Pulp Fiber and Paper Data
Name: 174, dtype: object

dataset_id                                     radarImage
title         Satellite Radar Image Data from near Munich
Name: 175, dtype: object

dataset_id         salinity
title         Salinity Data
Name: 176, dtype: object

dataset_id                                                    starsCYG
title         Hertzsprung-Russell Diagram Data of Star Cluster CYG OB1
Name: 177, dtype: object

dataset_id                                         telef
title         Number of International Calls from Belgium
Name: 178, dtype: object

dataset_id                             toxicity
title         Toxicity of Carboxylic Acids Data
Name: 179, dtype: object

dataset_id                               vaso
title         Vaso Constriction Skin Data Set
Name: 180, dtype: object

dataset_id                                wagnerGrowth
title         Wagner's Hannover Employment Growth Data
Name: 181, dtype: object

dataset_id                                      wood
title         Modified Data on Wood Specific Gravity
Name: 182, dtype: object

dataset_id                            AMSsurvey
title         American Math Society Survey Data
Name: 183, dtype: object

dataset_id                        Adler
title         Experimenter Expectations
Name: 184, dtype: object

dataset_id                                  Angell
title         Moral Integration of American Cities
Name: 185, dtype: object

dataset_id                                  Anscombe
title         U. S. State Public-School Expenditures
Name: 186, dtype: object

dataset_id                                      Baumann
title         Methods of Teaching Reading Comprehension
Name: 187, dtype: object

dataset_id                                           Bfox
title         Canadian Women's Labour-Force Participation
Name: 188, dtype: object

dataset_id                                                       Blackmoor
title         Exercise Histories of Eating-Disordered and Control Subjects
Name: 189, dtype: object

dataset_id                                            Burt
title         Fraudulent Data on IQs of Twins Raised Apart
Name: 190, dtype: object

dataset_id                      CanPop
title         Canadian Population Data
Name: 191, dtype: object

dataset_id                                               Chile
title         Voting Intentions in the 1988 Chilean Plebiscite
Name: 192, dtype: object

dataset_id                                 Chirot
title         The 1907 Romanian Peasant Rebellion
Name: 193, dtype: object

dataset_id                                     Cowles
title         Cowles and Davis's Data on Volunteering
Name: 194, dtype: object

dataset_id                                Davis
title         Self-Reports of Height and Weight
Name: 195, dtype: object

dataset_id                             DavisThin
title         Davis's Data on Drive for Thinness
Name: 196, dtype: object

dataset_id                       Depredations
title         Minnesota Wolf Depredation Data
Name: 197, dtype: object

dataset_id                                 Duncan
title         Duncan's Occupational Prestige Data
Name: 198, dtype: object

dataset_id                           Ericksen
title         The 1980 U.S. Census Undercount
Name: 199, dtype: object

dataset_id                  Florida
title         Florida County Voting
Name: 200, dtype: object

dataset_id                                          Freedman
title         Crowding and Crime in U. S. Metropolitan Areas
Name: 201, dtype: object

dataset_id                    Friendly
title         Format Effects on Recall
Name: 202, dtype: object

dataset_id              Ginzberg
title         Data on Depression
Name: 203, dtype: object

dataset_id             Greene
title         Refugee Appeals
Name: 204, dtype: object

dataset_id                        Guyer
title         Anonymity and Cooperation
Name: 205, dtype: object

dataset_id                           Hartnagel
title         Canadian Crime-Rates Time Series
Name: 206, dtype: object

dataset_id             Highway1
title         Highway Accidents
Name: 207, dtype: object

dataset_id                   Leinhardt
title         Data on Infant-Mortality
Name: 208, dtype: object

dataset_id                      Mandel
title         Contrived Collinear Data
Name: 209, dtype: object

dataset_id                                  Migration
title         Canadian Interprovincial Migration Data
Name: 210, dtype: object

dataset_id                                       Moore
title         Status, Authoritarianism, and Conformity
Name: 211, dtype: object

dataset_id                                      Mroz
title         U.S. Women's Labor-Force Participation
Name: 212, dtype: object

dataset_id                                   OBrienKaiser
title         O'Brien and Kaiser's Repeated-Measures Data
Name: 213, dtype: object

dataset_id                                                Ornstein
title         Interlocking Directorates Among Major Canadian Firms
Name: 214, dtype: object

dataset_id                            Pottery
title         Chemical Composition of Pottery
Name: 215, dtype: object

dataset_id                            Prestige
title         Prestige of Canadian Occupations
Name: 216, dtype: object

dataset_id                     Quartet
title         Four Regression Datasets
Name: 217, dtype: object

dataset_id                          Robey
title         Fertility and Contraception
Name: 218, dtype: object

dataset_id                                    SLID
title         Survey of Labour and Income Dynamics
Name: 219, dtype: object

dataset_id                                      Sahlins
title         Agricultural Production in Mazulu Village
Name: 220, dtype: object

dataset_id                   Salaries
title         Salaries for Professors
Name: 221, dtype: object

dataset_id                                                         Soils
title         Soil Compositions of Physical and Chemical Characteristics
Name: 222, dtype: object

dataset_id                                                  States
title         Education and Related Statistics for the U.S. States
Name: 223, dtype: object

dataset_id            Transact
title         Transaction data
Name: 224, dtype: object

dataset_id                          UN
title         GDP and Infant Mortality
Name: 225, dtype: object

dataset_id                              USPop
title         Population of the United States
Name: 226, dtype: object

dataset_id                       Vocab
title         Vocabulary and Education
Name: 227, dtype: object

dataset_id          WeightLoss
title         Weight Loss Data
Name: 228, dtype: object

dataset_id                                        Womenlf
title         Canadian Women's Labour-Force Participation
Name: 229, dtype: object

dataset_id         Wool
title         Wool data
Name: 230, dtype: object

dataset_id                               agriculture
title         European Union Agricultural Workforces
Name: 231, dtype: object

dataset_id                  animals
title         Attributes of Animals
Name: 232, dtype: object

dataset_id                             chorSub
title         Subset of C-horizon of Kola Data
Name: 233, dtype: object

dataset_id                    flower
title         Flower Characteristics
Name: 234, dtype: object

dataset_id                  plantTraits
title         Plant Species Traits Data
Name: 235, dtype: object

dataset_id                                    pluton
title         Isotopic Composition Plutonium Batches
Name: 236, dtype: object

dataset_id         ruspini
title         Ruspini Data
Name: 237, dtype: object

dataset_id                                                 votes.repub
title         Votes for Republican Candidate in Presidential Elections
Name: 238, dtype: object

dataset_id                                xclara
title         Bivariate Data Set with 3 Clusters
Name: 239, dtype: object

dataset_id    affairs
title         affairs
Name: 240, dtype: object

dataset_id    azcabgptca
title         azcabgptca
Name: 241, dtype: object

dataset_id    azdrg112
title         azdrg112
Name: 242, dtype: object

dataset_id    azpro
title         azpro
Name: 243, dtype: object

dataset_id    azprocedure
title         azprocedure
Name: 244, dtype: object

dataset_id    badhealth
title         badhealth
Name: 245, dtype: object

dataset_id    fasttrakg
title         fasttrakg
Name: 246, dtype: object

dataset_id    fishing
title         fishing
Name: 247, dtype: object

dataset_id    lbw
title         lbw
Name: 248, dtype: object

dataset_id    lbwgrp
title         lbwgrp
Name: 249, dtype: object

dataset_id    loomis
title         loomis
Name: 250, dtype: object

dataset_id    mdvis
title         mdvis
Name: 251, dtype: object

dataset_id    medpar
title         medpar
Name: 252, dtype: object

dataset_id    nuts
title         nuts
Name: 253, dtype: object

dataset_id    rwm
title         rwm
Name: 254, dtype: object

dataset_id    rwm1984
title         rwm1984
Name: 255, dtype: object

dataset_id    rwm5yr
title         rwm5yr
Name: 256, dtype: object

dataset_id    ships
title         ships
Name: 257, dtype: object

dataset_id    smoking
title         smoking
Name: 258, dtype: object

dataset_id    titanic
title         titanic
Name: 259, dtype: object

dataset_id    titanicgrp
title         titanicgrp
Name: 260, dtype: object

dataset_id          Accident
title         Ship Accidents
Name: 261, dtype: object

dataset_id                   Airline
title         Cost for U.S. Airlines
Name: 262, dtype: object

dataset_id                                              Airq
title         Air Quality for Californian Metropolitan Areas
Name: 263, dtype: object

dataset_id                                Benefits
title         Unemployement of Blue Collar Workers
Name: 264, dtype: object

dataset_id                           Bids
title         Bids Received By U.S. Firms
Name: 265, dtype: object

dataset_id                                     BudgetFood
title         Budget Share of Food for Spanish Households
Name: 266, dtype: object

dataset_id                             BudgetItaly
title         Budget Shares for Italian Households
Name: 267, dtype: object

dataset_id                               BudgetUK
title         Budget Shares of British Households
Name: 268, dtype: object

dataset_id              Bwages
title         Wages in Belgium
Name: 269, dtype: object

dataset_id                                         CPSch3
title         Earnings from the Current Population Survey
Name: 270, dtype: object

dataset_id      CRANpackages
title         Growth of CRAN
Name: 271, dtype: object

dataset_id                 Capm
title         Stock Market Data
Name: 272, dtype: object

dataset_id                                  Car
title         Stated Preferences for Car Choice
Name: 273, dtype: object

dataset_id                              Caschool
title         The California Test Score Data Set
Name: 274, dtype: object

dataset_id                        Catsup
title         Choice of Brand for Catsup
Name: 275, dtype: object

dataset_id                    Cigar
title         Cigarette Consumption
Name: 276, dtype: object

dataset_id                                   Cigarette
title         The Cigarette Consumption Panel Data Set
Name: 277, dtype: object

dataset_id                              Clothing
title         Sales Data of Men's Fashion Stores
Name: 278, dtype: object

dataset_id                       Computers
title         Prices of Personal Computers
Name: 279, dtype: object

dataset_id                        Cracker
title         Choice of Brand for Crakers
Name: 280, dtype: object

dataset_id                      Crime
title         Crime in North Carolina
Name: 281, dtype: object

dataset_id                         DM
title         DM Dollar Exchange Rate
Name: 282, dtype: object

dataset_id                              Diamond
title         Pricing the C's of Diamond Stones
Name: 283, dtype: object

dataset_id                     Doctor
title         Number of Doctor Visits
Name: 284, dtype: object

dataset_id                     DoctorAUS
title         Doctor Visits in Australia
Name: 285, dtype: object

dataset_id                  DoctorContacts
title         Contacts With Medical Doctor
Name: 286, dtype: object

dataset_id                         Earnings
title         Earnings for Three Age Groups
Name: 287, dtype: object

dataset_id                                Electricity
title         Cost Function for Electricity Producers
Name: 288, dtype: object

dataset_id                         Fair
title         Extramarital Affairs Data
Name: 289, dtype: object

dataset_id                                 Fatality
title         Drunk Driving Laws and Traffic Deaths
Name: 290, dtype: object

dataset_id                   Fishing
title         Choice of Fishing Mode
Name: 291, dtype: object

dataset_id                                                 Forward
title         Exchange Rates of US Dollar Against Other Currencies
Name: 292, dtype: object

dataset_id                                             FriendFoe
title         Data from the Television Game Show Friend Or Foe ?
Name: 293, dtype: object

dataset_id                                                                             Garch
title         Daily Observations on Exchange Rates of the US Dollar Against Other Currencies
Name: 294, dtype: object

dataset_id                Gasoline
title         Gasoline Consumption
Name: 295, dtype: object

dataset_id     Griliches
title         Wage Datas
Name: 296, dtype: object

dataset_id                    Grunfeld
title         Grunfeld Investment Data
Name: 297, dtype: object

dataset_id                                                                       HC
title         Heating and Cooling System Choice in Newly Built Houses in California
Name: 298, dtype: object

dataset_id                                            HI
title         Health Insurance and Hours Worked By Wives
Name: 299, dtype: object

dataset_id                        Hdma
title         The Boston HDMA Data Set
Name: 300, dtype: object

dataset_id                                       Heating
title         Heating System Choice in California Houses
Name: 301, dtype: object

dataset_id                                      Hedonic
title         Hedonic Prices of Cencus Tracts in Boston
Name: 302, dtype: object

dataset_id                                          Housing
title         Sales Prices of Houses in the City of Windsor
Name: 303, dtype: object

dataset_id                 Icecream
title         Ice Cream Consumption
Name: 304, dtype: object

dataset_id                     Journals
title         Economic Journals Dat Set
Name: 305, dtype: object

dataset_id                                                                 Kakadu
title         Willingness to Pay for the Preservation of the Kakadu National Park
Name: 306, dtype: object

dataset_id                        Ketchup
title         Choice of Brand for Ketchup
Name: 307, dtype: object

dataset_id              Klein
title         Klein's Model I
Name: 308, dtype: object

dataset_id               LaborSupply
title         Wages and Hours Worked
Name: 309, dtype: object

dataset_id           Labour
title         Belgian Firms
Name: 310, dtype: object

dataset_id                                    MCAS
title         The Massashusets Test Score Data Set
Name: 311, dtype: object

dataset_id                                 Males
title         Wages and Education of Young Males
Name: 312, dtype: object

dataset_id                                                                  Mathlevel
title         Level of Calculus Attained for Students Taking Advanced Micro-economics
Name: 313, dtype: object

dataset_id                                  MedExp
title         Structure of Demand for Medical Care
Name: 314, dtype: object

dataset_id                    Metal
title         Production for SIC 33
Name: 315, dtype: object

dataset_id           Mode
title         Mode Choice
Name: 316, dtype: object

dataset_id                          ModeChoice
title         Data to Study Travel Mode Choice
Name: 317, dtype: object

dataset_id                                                                                         Mofa
title         International Expansion of U.S. Mofa's (majority-owned Foreign Affiliates in Fire (fin...
Name: 318, dtype: object

dataset_id                 Mroz
title         Labor Supply Data
Name: 319, dtype: object

dataset_id                        MunExp
title         Municipal Expenditure Data
Name: 320, dtype: object

dataset_id                                                             NaturalPark
title         Willingness to Pay for the Preservation of the Alentejo Natural Park
Name: 321, dtype: object

dataset_id                                          Nerlove
title         Cost Function for Electricity Producers, 1955
Name: 322, dtype: object

dataset_id                           OFP
title         Visits to Physician Office
Name: 323, dtype: object

dataset_id               Oil
title         Oil Investment
Name: 324, dtype: object

dataset_id                               PSID
title         Panel Survey of Income Dynamics
Name: 325, dtype: object

dataset_id                Participation
title         Labor Force Participation
Name: 326, dtype: object

dataset_id                                  PatentsHGH
title         Dynamic Relation Between Patents and R&D
Name: 327, dtype: object

dataset_id                                                         PatentsRD
title         Patents, R&D and Technological Spillovers for a Panel of Firms
Name: 328, dtype: object

dataset_id                         Pound
title         Pound-dollar Exchange Rate
Name: 329, dtype: object

dataset_id                  Produc
title         Us States Production
Name: 330, dtype: object

dataset_id              RetSchool
title         Return to Schooling
Name: 331, dtype: object

dataset_id                                     SP500
title         Returns on Standard & Poor's 500 Index
Name: 332, dtype: object

dataset_id              Schooling
title         Wages and Schooling
Name: 333, dtype: object

dataset_id                   Somerville
title         Visits to Lake Somerville
Name: 334, dtype: object

dataset_id                                        Star
title         Effects on Learning of Small Class Sizes
Name: 335, dtype: object

dataset_id                  Strike
title         Strike Duration Data
Name: 336, dtype: object

dataset_id           StrikeDur
title         Strikes Duration
Name: 337, dtype: object

dataset_id                                 StrikeNb
title         Number of Strikes in Us Manufacturing
Name: 338, dtype: object

dataset_id            SumHes
title         The Penn Table
Name: 339, dtype: object

dataset_id                            Tobacco
title         Households Tobacco Budget Share
Name: 340, dtype: object

dataset_id                                     Train
title         Stated Preferences for Train Traveling
Name: 341, dtype: object

dataset_id                                                    TranspEq
title         Statewide Data on Transportation Equipment Manufacturing
Name: 342, dtype: object

dataset_id                                              Treatment
title         Evaluating Treatment Effect of Training on Earnings
Name: 343, dtype: object

dataset_id                        Tuna
title         Choice of Brand for Tuna
Name: 344, dtype: object

dataset_id              USFinanceIndustry
title         US Finance Industry Profits
Name: 345, dtype: object

dataset_id                               USclassifiedDocuments
title         Official Secrecy of the United States Government
Name: 346, dtype: object

dataset_id                                      USstateAbbreviations
title         Standard abbreviations for states of the United States
Name: 347, dtype: object

dataset_id                       UStaxWords
title         Number of Words in US Tax Law
Name: 348, dtype: object

dataset_id                 UnempDur
title         Unemployment Duration
Name: 349, dtype: object

dataset_id             Unemployment
title         Unemployment Duration
Name: 350, dtype: object

dataset_id                                       University
title         Provision of University Teaching and Research
Name: 351, dtype: object

dataset_id                                          VietNamH
title         Medical Expenses in Viet-nam (household Level)
Name: 352, dtype: object

dataset_id                                           VietNamI
title         Medical Expenses in Viet-nam (individual Level)
Name: 353, dtype: object

dataset_id                              Wages
title         Panel Datas of Individual Wages
Name: 354, dtype: object

dataset_id                             Wages1
title         Wages, Experience and Schooling
Name: 355, dtype: object

dataset_id          Workinghours
title         Wife Working Hours
Name: 356, dtype: object

dataset_id                         Yen
title         Yen-dollar Exchange Rate
Name: 357, dtype: object

dataset_id                         Yogurt
title         Choice of Brand for Yogurts
Name: 358, dtype: object

dataset_id                  bankingCrises
title         Countries in Banking Crises
Name: 359, dtype: object

dataset_id               incomeInequality
title         Income Inequality in the US
Name: 360, dtype: object

dataset_id                      nonEnglishNames
title         Names with Character Set Problems
Name: 361, dtype: object

dataset_id                          politicalKnowledge
title         Political knowledge in the US and Europe
Name: 362, dtype: object

dataset_id                                                             PD
title         A study of Parkinson's disease and APOE, LRRK2, SNCA makers
Name: 363, dtype: object

dataset_id                           aldh2
title         ALDH2 markers and Alcoholism
Name: 364, dtype: object

dataset_id                              apoeapoc
title         APOE/APOC1 markers and Alzheimer's
Name: 365, dtype: object

dataset_id                      cf
title         Cystic fibrosis data
Name: 366, dtype: object

dataset_id                   crohn
title         Crohn's disease data
Name: 367, dtype: object

dataset_id                        fa
title         Friedreich Ataxia data
Name: 368, dtype: object

dataset_id                                                            fsnps
title         A case-control data involving four SNPs with missing genotype
Name: 369, dtype: object

dataset_id             hla
title         The HLA data
Name: 370, dtype: object

dataset_id                                                hr1420
title         An example data for Manhattan plot with annotation
Name: 371, dtype: object

dataset_id                         l51
title         An example pedigree data
Name: 372, dtype: object

dataset_id                  lukas
title         An example pedigree
Name: 373, dtype: object

dataset_id                                            mao
title         A study of Parkinson's disease and MAO gene
Name: 374, dtype: object

dataset_id                       mfblong
title         Example data for ACEnucfam
Name: 375, dtype: object

dataset_id                               mhtdata
title         An example data for Manhattan plot
Name: 376, dtype: object

dataset_id                                                     nep499
title         A study of Alzheimer's disease with eight SNPs and APOE
Name: 377, dtype: object

dataset_id                               diamonds
title         Prices of 50,000 round cut diamonds
Name: 378, dtype: object

dataset_id                   economics
title         US economic time series.
Name: 379, dtype: object

dataset_id                  midwest
title         Midwest demographics.
Name: 380, dtype: object

dataset_id                                               movies
title         Movie information and user ratings from IMDB.com.
Name: 381, dtype: object

dataset_id                                                                  mpg
title         Fuel economy data from 1999 and 2008 for 38 popular models of car
Name: 382, dtype: object

dataset_id                                                           msleep
title         An updated and expanded version of the mammals sleep dataset.
Name: 383, dtype: object

dataset_id                                         presidential
title         Terms of 10 presidents from Eisenhower to Bush W.
Name: 384, dtype: object

dataset_id                              seals
title         Vector field of seal movements.
Name: 385, dtype: object

dataset_id                                                                     Arbuthnot
title         Arbuthnot's data on male and female birth ratios in London from 1629-1710.
Name: 386, dtype: object

dataset_id                                                           Bowley
title         Bowley's data on values of British and Irish trade, 1855-1899
Name: 387, dtype: object

dataset_id                                                 Cavendish
title         Cavendish's Determinations of the Density of the Earth
Name: 388, dtype: object

dataset_id                                        ChestSizes
title         Chest measurements of 5738 Scottish Militiamen
Name: 389, dtype: object

dataset_id                                                        CushnyPeebles
title         Cushny-Peebles Data: Soporific Effects of Scopolamine Derivatives
Name: 390, dtype: object

dataset_id                                                       CushnyPeeblesN
title         Cushny-Peebles Data: Soporific Effects of Scopolamine Derivatives
Name: 391, dtype: object

dataset_id                                              Dactyl
title         Edgeworth's counts of dactyls in Virgil's Aeneid
Name: 392, dtype: object

dataset_id                                                 DrinksWages
title         Elderton and Pearson's (1910) data on drinking and wages
Name: 393, dtype: object

dataset_id                                Fingerprints
title         Waite's data on Patterns in Fingerprints
Name: 394, dtype: object

dataset_id                                                        Galton
title         Galton's data on the heights of parents and their children
Name: 395, dtype: object

dataset_id                                                          GaltonFamilies
title         Galton's data on the heights of parents and their children, by child
Name: 396, dtype: object

dataset_id                                                               Guerry
title         Data from A.-M. Guerry, "Essay on the Moral Statistics of France"
Name: 397, dtype: object

dataset_id                                                 Jevons
title         W. Stanley Jevons' data on numerical discrimination
Name: 398, dtype: object

dataset_id                                                         Langren.all
title         van Langren's Data on Longitude Distance between Toledo and Rome
Name: 399, dtype: object

dataset_id                                                         Langren1644
title         van Langren's Data on Longitude Distance between Toledo and Rome
Name: 400, dtype: object

dataset_id                                                                           Macdonell
title         Macdonell's Data on Height and Finger Length of Criminals, used by Gosset (1908)
Name: 401, dtype: object

dataset_id                                                                         MacdonellDF
title         Macdonell's Data on Height and Finger Length of Criminals, used by Gosset (1908)
Name: 402, dtype: object

dataset_id                                              Michelson
title         Michelson's Determinations of the Velocity of Light
Name: 403, dtype: object

dataset_id                                          MichelsonSets
title         Michelson's Determinations of the Velocity of Light
Name: 404, dtype: object

dataset_id                                                          Minard.cities
title         Data from Minard's famous graphic map of Napoleon's march on Moscow
Name: 405, dtype: object

dataset_id                                                            Minard.temp
title         Data from Minard's famous graphic map of Napoleon's march on Moscow
Name: 406, dtype: object

dataset_id                                                          Minard.troops
title         Data from Minard's famous graphic map of Napoleon's march on Moscow
Name: 407, dtype: object

dataset_id                                                                     Nightingale
title         Florence Nightingale's data on deaths from various causes in the Crimean War
Name: 408, dtype: object

dataset_id                                                 OldMaps
title         Latitudes and Longitudes of 39 Points in 11 Old Maps
Name: 409, dtype: object

dataset_id                                                                            PearsonLee
title         Pearson and Lee's data on the heights of parents and children classified by gender
Name: 410, dtype: object

dataset_id                PolioTrials
title         Polio Field Trials Data
Name: 411, dtype: object

dataset_id                                                                   Prostitutes
title         Parent-Duchatelet's time-series data on the number of prostitutes in Paris
Name: 412, dtype: object

dataset_id                 Pyx
title         Trial of the Pyx
Name: 413, dtype: object

dataset_id                         Quarrels
title         Statistics of Deadly Quarrels
Name: 414, dtype: object

dataset_id                                                     Snow.deaths
title         John Snow's map and data on the 1854 London Cholera outbreak
Name: 415, dtype: object

dataset_id                                                   Snow.polygons
title         John Snow's map and data on the 1854 London Cholera outbreak
Name: 416, dtype: object

dataset_id                                                      Snow.pumps
title         John Snow's map and data on the 1854 London Cholera outbreak
Name: 417, dtype: object

dataset_id                                                    Snow.streets
title         John Snow's map and data on the 1854 London Cholera outbreak
Name: 418, dtype: object

dataset_id                                              Wheat
title         Playfair's Data on Wages and the Price of Wheat
Name: 419, dtype: object

dataset_id                                     Wheat.monarchs
title         Playfair's Data on Wages and the Price of Wheat
Name: 420, dtype: object

dataset_id                                 Yeast
title         Student's (1906) Yeast Cell Counts
Name: 421, dtype: object

dataset_id                            YeastD.mat
title         Student's (1906) Yeast Cell Counts
Name: 422, dtype: object

dataset_id                                                         ZeaMays
title         Darwin's Heights of Cross- and Self-fertilized Zea May Pairs
Name: 423, dtype: object

dataset_id                                      barley
title         Yield data from a Minnesota barley trial
Name: 424, dtype: object

dataset_id                                            environmental
title         Atmospheric environmental conditions in New York City
Name: 425, dtype: object

dataset_id                                      ethanol
title         Engine exhaust fumes from burning ethanol
Name: 426, dtype: object

dataset_id                          melanoma
title         Melanoma skin cancer incidence
Name: 427, dtype: object

dataset_id                                        singer
title         Heights of New York Choral Society singers
Name: 428, dtype: object

dataset_id                            Aids2
title         Australian AIDS Survival Data
Name: 429, dtype: object

dataset_id                                  Animals
title         Brain and Body Weights for 28 Species
Name: 430, dtype: object

dataset_id                                 Boston
title         Housing Values in Suburbs of Boston
Name: 431, dtype: object

dataset_id                                          Cars93
title         Data from 93 Cars on Sale in the USA in 1993
Name: 432, dtype: object

dataset_id                                                Cushings
title         Diagnostic Tests on Patients with Cushing's Syndrome
Name: 433, dtype: object

dataset_id            DDT
title         DDT in Kale
Name: 434, dtype: object

dataset_id                             GAGurine
title         Level of GAG in Urine of Children
Name: 435, dtype: object

dataset_id                          Insurance
title         Numbers of Car Insurance claims
Name: 436, dtype: object

dataset_id                            Melanoma
title         Survival from Malignant Melanoma
Name: 437, dtype: object

dataset_id                                                  OME
title         Tests of Auditory Perception in Children with OME
Name: 438, dtype: object

dataset_id                          Pima.te
title         Diabetes in Pima Indian Women
Name: 439, dtype: object

dataset_id                          Pima.tr
title         Diabetes in Pima Indian Women
Name: 440, dtype: object

dataset_id                         Pima.tr2
title         Diabetes in Pima Indian Women
Name: 441, dtype: object

dataset_id                       Rabbit
title         Blood Pressure in Rabbits
Name: 442, dtype: object

dataset_id                                Rubber
title         Accelerated Testing of Tyre Rubber
Name: 443, dtype: object

dataset_id                                    SP500
title         Returns of the Standard and Poors 500
Name: 444, dtype: object

dataset_id                                           Sitka
title         Growth Curves for Sitka Spruce Trees in 1988
Name: 445, dtype: object

dataset_id                                         Sitka89
title         Growth Curves for Sitka Spruce Trees in 1989
Name: 446, dtype: object

dataset_id                                      Skye
title         AFM Compositions of Aphyric Skye Lavas
Name: 447, dtype: object

dataset_id                                        Traffic
title         Effect of Swedish Speed Limits on Accidents
Name: 448, dtype: object

dataset_id                                               UScereal
title         Nutritional and Marketing Information on US Cereals
Name: 449, dtype: object

dataset_id                                            UScrime
title         The Effect of Punishment Regimes on Crime Rates
Name: 450, dtype: object

dataset_id                                            VA
title         Veteran's Administration Lung Cancer Trial
Name: 451, dtype: object

dataset_id                               abbey
title         Determinations of Nickel Content
Name: 452, dtype: object

dataset_id                                accdeaths
title         Accidental Deaths in the US 1973-1978
Name: 453, dtype: object

dataset_id                          anorexia
title         Anorexia Data on Weight Change
Name: 454, dtype: object

dataset_id                                      bacteria
title         Presence of Bacteria after Drug Treatments
Name: 455, dtype: object

dataset_id                                  beav1
title         Body Temperature Series of Beaver 1
Name: 456, dtype: object

dataset_id                                  beav2
title         Body Temperature Series of Beaver 2
Name: 457, dtype: object

dataset_id                                   biopsy
title         Biopsy Data on Breast Cancer Patients
Name: 458, dtype: object

dataset_id                                                 birthwt
title         Risk Factors Associated with Low Infant Birth Weight
Name: 459, dtype: object

dataset_id                           cabbages
title         Data from a cabbage field trial
Name: 460, dtype: object

dataset_id                                              caith
title         Colours of Eyes and Hair of People in Caithness
Name: 461, dtype: object

dataset_id                                  cats
title         Anatomical Data from Domestic Cats
Name: 462, dtype: object

dataset_id                             cement
title         Heat Evolved by Setting Cements
Name: 463, dtype: object

dataset_id                         chem
title         Copper in Wholemeal Flour
Name: 464, dtype: object

dataset_id                                          coop
title         Co-operative Trial in Analytical Chemistry
Name: 465, dtype: object

dataset_id                            cpus
title         Performance of Computer CPUs
Name: 466, dtype: object

dataset_id                                               crabs
title         Morphological Measurements on Leptograpsus Crabs
Name: 467, dtype: object

dataset_id                                         deaths
title         Monthly Deaths from Lung Diseases in the UK
Name: 468, dtype: object

dataset_id                                           drivers
title         Deaths of Car Drivers in Great Britain 1969-84
Name: 469, dtype: object

dataset_id                             eagles
title         Foraging Ecology of Bald Eagles
Name: 470, dtype: object

dataset_id                             epil
title         Seizure Counts for Epileptics
Name: 471, dtype: object

dataset_id                                    farms
title         Ecological Factors in Farm Management
Name: 472, dtype: object

dataset_id                                         fgl
title         Measurements of Forensic Glass Fragments
Name: 473, dtype: object

dataset_id                                        forbes
title         Forbes' Data on Boiling Points in the Alps
Name: 474, dtype: object

dataset_id                      galaxies
title         Velocities for 82 Galaxies
Name: 475, dtype: object

dataset_id                                    gehan
title         Remission Times of Leukaemia Patients
Name: 476, dtype: object

dataset_id             genotype
title         Rat Genotype Data
Name: 477, dtype: object

dataset_id                      geyser
title         Old Faithful Geyser Data
Name: 478, dtype: object

dataset_id                                      gilgais
title         Line Transect of Soil in Gilgai Territory
Name: 479, dtype: object

dataset_id                                  hills
title         Record Times in Scottish Hill Races
Name: 480, dtype: object

dataset_id                                                        housing
title         Frequency Table from a Copenhagen Housing Conditions Survey
Name: 481, dtype: object

dataset_id                               immer
title         Yields from a Barley Field Trial
Name: 482, dtype: object

dataset_id                                                            leuk
title         Survival Times and White Blood Counts for Leukaemia Patients
Name: 483, dtype: object

dataset_id                                                  mammals
title         Brain and Body Weights for 62 Species of Land Mammals
Name: 484, dtype: object

dataset_id                                       mcycle
title         Data from a Simulated Motorcycle Accident
Name: 485, dtype: object

dataset_id                     menarche
title         Age of Menarche in Warsaw
Name: 486, dtype: object

dataset_id                          michelson
title         Michelson's Speed of Light Data
Name: 487, dtype: object

dataset_id                                     minn38
title         Minnesota High School Graduates of 1938
Name: 488, dtype: object

dataset_id                                    motors
title         Accelerated Life Testing of Motorettes
Name: 489, dtype: object

dataset_id                                                            muscle
title         Effect of Calcium Chloride on Muscle Contraction in Rat Hearts
Name: 490, dtype: object

dataset_id                                                newcomb
title         Newcomb's Measurements of the Passage Time of Light
Name: 491, dtype: object

dataset_id                                 nlschools
title         Eighth-Grade Pupils in the Netherlands
Name: 492, dtype: object

dataset_id                                       npk
title         Classical N, P, K Factorial Experiment
Name: 493, dtype: object

dataset_id                                     npr1
title         US Naval Petroleum Reserve No. 1 data
Name: 494, dtype: object

dataset_id                             oats
title         Data from an Oats Field Trial
Name: 495, dtype: object

dataset_id                          painters
title         The Painter's Data of de Piles
Name: 496, dtype: object

dataset_id                                 petrol
title         N. L. Prater's Petrol Refinery Data
Name: 497, dtype: object

dataset_id                                               quine
title         Absenteeism from School in Rural New South Wales
Name: 498, dtype: object

dataset_id                                 road
title         Road Accident Deaths in US States
Name: 499, dtype: object

dataset_id                                 rotifer
title         Numbers of Rotifers by Fluid Density
Name: 500, dtype: object

dataset_id                ships
title         Ships Damage Data
Name: 501, dtype: object

dataset_id                                     shrimp
title         Percentage of Shrimp in Shrimp Cocktail
Name: 502, dtype: object

dataset_id                             shuttle
title         Space Shuttle Autolander Problem
Name: 503, dtype: object

dataset_id                  snails
title         Snail Mortality Data
Name: 504, dtype: object

dataset_id                                steam
title         The Saturated Steam Pressure Data
Name: 505, dtype: object

dataset_id                        stormer
title         The Stormer Viscometer Data
Name: 506, dtype: object

dataset_id                 survey
title         Student Survey Data
Name: 507, dtype: object

dataset_id                            synth.te
title         Synthetic Classification Problem
Name: 508, dtype: object

dataset_id                            synth.tr
title         Synthetic Classification Problem
Name: 509, dtype: object

dataset_id                        topo
title         Spatial Topographic Data
Name: 510, dtype: object

dataset_id                                          waders
title         Counts of Waders at 15 Sites in South Africa
Name: 511, dtype: object

dataset_id                             whiteside
title         House Insulation: Whiteside's Data
Name: 512, dtype: object

dataset_id                                    wtloss
title         Weight Loss Data from an Obese Patient
Name: 513, dtype: object

dataset_id                    Cigar
title         Cigarette Consumption
Name: 514, dtype: object

dataset_id                      Crime
title         Crime in North Carolina
Name: 515, dtype: object

dataset_id                                        EmplUK
title         Employment and Wages in the United Kingdom
Name: 516, dtype: object

dataset_id                Gasoline
title         Gasoline Consumption
Name: 517, dtype: object

dataset_id                      Grunfeld
title         Grunfeld's Investment Data
Name: 518, dtype: object

dataset_id                                               Hedonic
title         Hedonic Prices of Census Tracts in the Boston Area
Name: 519, dtype: object

dataset_id               LaborSupply
title         Wages and Hours Worked
Name: 520, dtype: object

dataset_id                                 Males
title         Wages and Education of Young Males
Name: 521, dtype: object

dataset_id                  Produc
title         US States Production
Name: 522, dtype: object

dataset_id                           Snmesp
title         Employment and Wages in Spain
Name: 523, dtype: object

dataset_id                        SumHes
title         The Penn World Table, v. 5
Name: 524, dtype: object

dataset_id                             Wages
title         Panel Data of Individual Wages
Name: 525, dtype: object

dataset_id                                                        baseball
title         Yearly batting records for all major league baseball players
Name: 526, dtype: object

dataset_id                        AustralianElectionPolling
title         Political opinion polls in Australia, 2004-07
Name: 527, dtype: object

dataset_id                                            AustralianElections
title         elections to Australian House of Representatives, 1949-2007
Name: 528, dtype: object

dataset_id                                                    EfronMorris
title         Batting Averages for 18 major league baseball players, 1970
Name: 529, dtype: object

dataset_id                                          RockTheVote
title         Voter turnout experiment, using Rock The Vote ads
Name: 530, dtype: object

dataset_id                         UKHouseOfCommons
title         1992 United Kingdom electoral returns
Name: 531, dtype: object

dataset_id                                                           absentee
title         Absentee and Machine Ballots in Pennsylvania State Senate Races
Name: 532, dtype: object

dataset_id                                              admit
title         Applications to a Political Science PhD Program
Name: 533, dtype: object

dataset_id                                                               bioChemists
title         article production by graduate students in biochemistry Ph.D. programs
Name: 534, dtype: object

dataset_id                                        ca2006
title         California Congressional Districts in 2006
Name: 535, dtype: object

dataset_id                                                    iraqVote
title         U.S. Senate vote on the use of force against Iraq, 2002.
Name: 536, dtype: object

dataset_id                                                 politicalInformation
title         Interviewer ratings of respondent levels of political information
Name: 537, dtype: object

dataset_id                                presidentialElections
title         elections for U.S. President, 1932-2012, by state
Name: 538, dtype: object

dataset_id                         prussian
title         Prussian army horse kick data
Name: 539, dtype: object

dataset_id                                   unionDensity
title         cross national rates of trade union density
Name: 540, dtype: object

dataset_id                                                       vote92
title         Reports of voting in the 1992 U.S. Presidential election.
Name: 541, dtype: object

dataset_id                                    french_fries
title         Sensory data from a french fries experiment.
Name: 542, dtype: object

dataset_id                              smiths
title         Demo data describing the Smiths.
Name: 543, dtype: object

dataset_id            tips
title         Tipping data
Name: 544, dtype: object

dataset_id                                  car.test.frame
title         Automobile Data from 'Consumer Reports' 1990
Name: 545, dtype: object

dataset_id                                           car90
title         Automobile Data from 'Consumer Reports' 1990
Name: 546, dtype: object

dataset_id                                      cu.summary
title         Automobile Data from 'Consumer Reports' 1990
Name: 547, dtype: object

dataset_id                                                   kyphosis
title         Data on Children who have had Corrective Spinal Surgery
Name: 548, dtype: object

dataset_id                                               solder
title         Soldering of Components on Printed-Circuit Boards
Name: 549, dtype: object

dataset_id                     stagec
title         Stage C Prostate Cancer
Name: 550, dtype: object

dataset_id                         PublicSchools
title         US Expenditures for Public Schools
Name: 551, dtype: object

dataset_id                                                        Bollen
title         Bollen's Data on Industrialization and Political Democracy
Name: 552, dtype: object

dataset_id                                                        CNES
title         Variables from the 1997 Canadian National Election Study
Name: 553, dtype: object

dataset_id                                Klein
title         Klein's Data on the U. S. Economy
Name: 554, dtype: object

dataset_id                                         Kmenta
title         Partly Artificial Data on the U. S. Economy
Name: 555, dtype: object

dataset_id               Tests
title         Six Mental Tests
Name: 556, dtype: object

dataset_id                       bladder
title         Bladder Cancer Recurrences
Name: 557, dtype: object

dataset_id                    cancer
title         NCCTG Lung Cancer Data
Name: 558, dtype: object

dataset_id                                   cgd
title         Chronic Granulotomous Disease data
Name: 559, dtype: object

dataset_id                                      colon
title         Chemotherapy for Stage B/C colon cancer
Name: 560, dtype: object

dataset_id                                               flchain
title         Assay of serum free light chain for 7874 subjects.
Name: 561, dtype: object

dataset_id                             heart
title         Stanford Heart Transplant data
Name: 562, dtype: object

dataset_id                  kidney
title         Kidney catheter data
Name: 563, dtype: object

dataset_id                                    leukemia
title         Acute Myelogenous Leukemia survival data
Name: 564, dtype: object

dataset_id                                           logan
title         Data from the 1972-78 GSS data used by Logan
Name: 565, dtype: object

dataset_id                      lung
title         NCCTG Lung Cancer Data
Name: 566, dtype: object

dataset_id                          mgus
title         Monoclonal gammapothy data
Name: 567, dtype: object

dataset_id                                        nwtco
title         Data from the National Wilm's Tumor Study
Name: 568, dtype: object

dataset_id                         ovarian
title         Ovarian Cancer Survival Data
Name: 569, dtype: object

dataset_id                                           pbc
title         Mayo Clinic Primary Biliary Cirrhosis Data
Name: 570, dtype: object

dataset_id                                    rats
title         Rat treatment data from Mantel et al
Name: 571, dtype: object

dataset_id                              stanford2
title         More Stanford Heart Transplant data
Name: 572, dtype: object

dataset_id                 tobin
title         Tobin's Tobit data
Name: 573, dtype: object

dataset_id                                       veteran
title         Veterans' Administration Lung Cancer study
Name: 574, dtype: object

dataset_id                   Arthritis
title         Arthritis Treatment Data
Name: 575, dtype: object

dataset_id         Baseball
title         Baseball Data
Name: 576, dtype: object

dataset_id          BrokenMarriage
title         Broken Marriage Data
Name: 577, dtype: object

dataset_id                            Bundesliga
title         Ergebnisse der Fussball-Bundesliga
Name: 578, dtype: object

dataset_id                              Bundestag2005
title         Votes in German Bundestag Election 2005
Name: 579, dtype: object

dataset_id                      Butterfly
title         Butterfly Species in Malaya
Name: 580, dtype: object

dataset_id                                  CoalMiners
title         Breathlessness and Wheeze in Coal Miners
Name: 581, dtype: object

dataset_id                DanishWelfare
title         Danish Welfare Study Data
Name: 582, dtype: object

dataset_id           Employment
title         Employment Status
Name: 583, dtype: object

dataset_id                    Federalist
title         'May' in Federalist Papers
Name: 584, dtype: object

dataset_id         Hitters
title         Hitters Data
Name: 585, dtype: object

dataset_id              HorseKicks
title         Death by Horse Kicks
Name: 586, dtype: object

dataset_id         Hospital
title         Hospital data
Name: 587, dtype: object

dataset_id          JobSatisfaction
title         Job Satisfaction Data
Name: 588, dtype: object

dataset_id                    JointSports
title         Opinions About Joint Sports
Name: 589, dtype: object

dataset_id                   Lifeboats
title         Lifeboats on the Titanic
Name: 590, dtype: object

dataset_id                 NonResponse
title         Non-Response Survey Data
Name: 591, dtype: object

dataset_id          OvaryCancer
title         Ovary Cancer Data
Name: 592, dtype: object

dataset_id                         PreSex
title         Pre-marital Sex and Divorce
Name: 593, dtype: object

dataset_id                  Punishment
title         Corporal Punishment Data
Name: 594, dtype: object

dataset_id                      RepVict
title         Repeat Victimization Data
Name: 595, dtype: object

dataset_id                Saxony
title         Families in Saxony
Name: 596, dtype: object

dataset_id     SexualFun
title         Sex is Fun
Name: 597, dtype: object

dataset_id                     SpaceShuttle
title         Space Shuttle O-ring Failures
Name: 598, dtype: object

dataset_id                     Suicide
title         Suicide Rates in Germany
Name: 599, dtype: object

dataset_id                  Trucks
title         Truck Accidents Data
Name: 600, dtype: object

dataset_id            UKSoccer
title         UK Soccer Scores
Name: 601, dtype: object

dataset_id                            VisualAcuity
title         Visual Acuity in Left and Right Eyes
Name: 602, dtype: object

dataset_id                             VonBort
title         Von Bortkiewicz Horse Kicks Data
Name: 603, dtype: object

dataset_id            WeldonDice
title         Weldon's Dice Data
Name: 604, dtype: object

dataset_id         WomenQueue
title         Women in Queues
Name: 605, dtype: object

dataset_id                 MatchIt.url
title         Table of links for Zelig
Name: 606, dtype: object

dataset_id                                                    PErisk
title         Political Economic Risk Data from 62 Countries in 1987
Name: 607, dtype: object

dataset_id                      SupremeCourt
title         U.S. Supreme Court Vote Matrix
Name: 608, dtype: object

dataset_id                       Weimar
title         1932 Weimar election data
Name: 609, dtype: object

dataset_id                   Zelig.url
title         Table of links for Zelig
Name: 610, dtype: object

dataset_id                           approval
title         U.S. Presidential Approval Data
Name: 611, dtype: object

dataset_id                                      bivariate
title         Sample data for bivariate probit regression
Name: 612, dtype: object

dataset_id                                             coalition
title         Coalition Dissolution in Parliamentary Democracies
Name: 613, dtype: object

dataset_id                                                              coalition2
title         Coalition Dissolution in Parliamentary Democracies, Modified Version
Name: 614, dtype: object

dataset_id                                       eidat
title         Simulation Data for Ecological Inference
Name: 615, dtype: object

dataset_id                     free1
title         Freedom of Speech Data
Name: 616, dtype: object

dataset_id                     free2
title         Freedom of Speech Data
Name: 617, dtype: object

dataset_id                                                friendship
title         Simulated Example of Schoolchildren Friendship Network
Name: 618, dtype: object

dataset_id                                                                                     grunfeld
title         Simulation Data for model Seemingly Unrelated Regression (sur) that corresponds to met...
Name: 619, dtype: object

dataset_id                                hoff
title         Social Security Expenditure Data
Name: 620, dtype: object

dataset_id                                                                 homerun
title         Sample Data on Home Runs Hit By Mark McGwire and Sammy Sosa in 1998.
Name: 621, dtype: object

dataset_id                                             immi1
title         Individual Preferences Over Immigration Policy
Name: 622, dtype: object

dataset_id                                             immi2
title         Individual Preferences Over Immigration Policy
Name: 623, dtype: object

dataset_id                                             immi3
title         Individual Preferences Over Immigration Policy
Name: 624, dtype: object

dataset_id                                             immi4
title         Individual Preferences Over Immigration Policy
Name: 625, dtype: object

dataset_id                                             immi5
title         Individual Preferences Over Immigration Policy
Name: 626, dtype: object

dataset_id                                       immigration
title         Individual Preferences Over Immigration Policy
Name: 627, dtype: object

dataset_id                                                                                        klein
title         Simulation Data for model Two-Stage Least Square (twosls) that corresponds to method 2...
Name: 628, dtype: object

dataset_id                                                                                       kmenta
title         Simulation Data for model Three-Stage Least Square (threesls) that corresponds to meth...
Name: 629, dtype: object

dataset_id                 macro
title         Macroeconomic Data
Name: 630, dtype: object

dataset_id                                                    mexico
title         Voting Data from the 1988 Mexican Presidental Election
Name: 631, dtype: object

dataset_id                                mid
title         Militarized Interstate Disputes
Name: 632, dtype: object

dataset_id                                   newpainters
title         The Discretized Painter's Data of de Piles
Name: 633, dtype: object

dataset_id                           sanction
title         Multilateral Economic Sanctions
Name: 634, dtype: object

dataset_id                                      sna.ex
title         Simulated Example of Social Network Data
Name: 635, dtype: object

dataset_id                                                       swiss
title         Swiss Fertility and Socioeconomic Indicators (1888) Data
Name: 636, dtype: object

dataset_id                 tobin
title         Tobin's Tobit Data
Name: 637, dtype: object

dataset_id                                               turnout
title         Turnout Data Set from the National Election Survey
Name: 638, dtype: object

dataset_id                                                                     voteincome
title         Sample Turnout and Demographic Data from the 2000 Current Population Survey
Name: 639, dtype: object

dataset_id                 BCG
title         BCG Vaccine Data
Name: 640, dtype: object

dataset_id                  BtheB
title         Beat the Blues Data
Name: 641, dtype: object

dataset_id                       CYGOB1
title         CYG OB1 Star Cluster Data
Name: 642, dtype: object

dataset_id                                                              Forbes2000
title         The Forbes 2000 Ranking of the World's Biggest Companies (Year 2004)
Name: 643, dtype: object

dataset_id                             GHQ
title         General Health Questionnaire
Name: 644, dtype: object

dataset_id                                    Lanza
title         Prevention of Gastointestinal Damages
Name: 645, dtype: object

dataset_id                         agefat
title         Total Body Composision Data
Name: 646, dtype: object

dataset_id         aspirin
title         Aspirin Data
Name: 647, dtype: object

dataset_id               birthdeathrates
title         Birth and Death Rates Data
Name: 648, dtype: object

dataset_id          bladdercancer
title         Bladder Cancer Data
Name: 649, dtype: object

dataset_id                clouds
title         Cloud Seeding Data
Name: 650, dtype: object

dataset_id         epilepsy
title         Epilepsy Data
Name: 651, dtype: object

dataset_id                       foster
title         Foster Feeding Experiment
Name: 652, dtype: object

dataset_id                       heptathlon
title         Olympic Heptathlon Seoul 1988
Name: 653, dtype: object

dataset_id                                                   mastectomy
title         Survival Times after Mastectomy of Breast Cancer Patients
Name: 654, dtype: object

dataset_id                                       meteo
title         Meteorological Measurements for 11 Years
Name: 655, dtype: object

dataset_id                    orallesions
title         Oral Lesions in Rural India
Name: 656, dtype: object

dataset_id               phosphate
title         Phosphate Level Data
Name: 657, dtype: object

dataset_id              pistonrings
title         Piston Rings Failures
Name: 658, dtype: object

dataset_id            planets
title         Exoplanets Data
Name: 659, dtype: object

dataset_id                  plasma
title         Blood Screening Data
Name: 660, dtype: object

dataset_id                             polyps
title         Familial Andenomatous Polyposis
Name: 661, dtype: object

dataset_id                            polyps3
title         Familial Andenomatous Polyposis
Name: 662, dtype: object

dataset_id                        pottery
title         Romano-British Pottery Data
Name: 663, dtype: object

dataset_id                       rearrests
title         Rearrests of Juvenile Felons
Name: 664, dtype: object

dataset_id                 respiratory
title         Respiratory Illness Data
Name: 665, dtype: object

dataset_id                                   roomwidth
title         Students Estimates of Lecture Room Width
Name: 666, dtype: object

dataset_id                         schizophrenia
title         Age of Onset of Schizophrenia Data
Name: 667, dtype: object

dataset_id        schizophrenia2
title         Schizophrenia Data
Name: 668, dtype: object

dataset_id                  schooldays
title         Days not Spent at School
Name: 669, dtype: object

dataset_id             skulls
title         Egyptian Skulls
Name: 670, dtype: object

dataset_id                               smoking
title         Nicotine Gum and Smoking Cessation
Name: 671, dtype: object

dataset_id               students
title         Student Risk Taking
Name: 672, dtype: object

dataset_id                                suicides
title         Crowd Baiting Behaviour and Suicides
Name: 673, dtype: object

dataset_id         toothpaste
title         Toothpaste Data
Name: 674, dtype: object

dataset_id                                  voting
title         House of Representatives Voting Data
Name: 675, dtype: object

dataset_id                           water
title         Mortality and Water Hardness
Name: 676, dtype: object

dataset_id          watervoles
title         Water Voles Data
Name: 677, dtype: object

dataset_id                                 waves
title         Electricity from Wave Power at Sea
Name: 678, dtype: object

dataset_id                weightgain
title         Gain in Weight of Rats
Name: 679, dtype: object

dataset_id                womensrole
title         Womens Role in Society
Name: 680, dtype: object

dataset_id                                       Bechtoldt
title         Seven data sets showing a bifactor solution.
Name: 681, dtype: object

dataset_id                                     Bechtoldt.1
title         Seven data sets showing a bifactor solution.
Name: 682, dtype: object

dataset_id                                     Bechtoldt.2
title         Seven data sets showing a bifactor solution.
Name: 683, dtype: object

dataset_id                                                  Dwyer
title         8 cognitive variables used by Dwyer for an example.
Name: 684, dtype: object

dataset_id                                                                                       Gleser
title         Example data from Gleser, Cronbach and Rajaratnam (1965) to show basic principles of g...
Name: 685, dtype: object

dataset_id                                                                  Gorsuch
title         Example data set from Gorsuch (1997) for an example factor extension.
Name: 686, dtype: object

dataset_id                                         Harman.5
title         5 socio-economic variables from Harman (1967)
Name: 687, dtype: object

dataset_id                                                        Harman.8
title         Correlations of eight physical variables (from Harman, 1966)
Name: 688, dtype: object

dataset_id                                                   Harman.political
title         Eight political variables used by Harman (1967) as example 8.17
Name: 689, dtype: object

dataset_id                                       Holzinger
title         Seven data sets showing a bifactor solution.
Name: 690, dtype: object

dataset_id                                     Holzinger.9
title         Seven data sets showing a bifactor solution.
Name: 691, dtype: object

dataset_id                                           Reise
title         Seven data sets showing a bifactor solution.
Name: 692, dtype: object

dataset_id                                                                                Schmid
title         12 variables created by Schmid and Leiman to show the Schmid-Leiman Transformation
Name: 693, dtype: object

dataset_id                                       Thurstone
title         Seven data sets showing a bifactor solution.
Name: 694, dtype: object

dataset_id                                    Thurstone.33
title         Seven data sets showing a bifactor solution.
Name: 695, dtype: object

dataset_id                                                        Tucker
title         9 Cognitive variables discussed by Tucker and Lewis (1973)
Name: 696, dtype: object

dataset_id                                             ability
title         16 ability items scored as correct or incorrect.
Name: 697, dtype: object

dataset_id                                                                                       affect
title         Two data sets of affect and arousal scores as a function of personality and movie cond...
Name: 698, dtype: object

dataset_id                                            bfi
title         25 Personality items representing 5 factors
Name: 699, dtype: object

dataset_id                                 bfi.dictionary
title         25 Personality items representing 5 factors
Name: 700, dtype: object

dataset_id                                     blot
title         Bond's Logical Operations Test - BLOT
Name: 701, dtype: object

dataset_id                                       burt
title         11 emotional variables from Burt (1915)
Name: 702, dtype: object

dataset_id                            cities
title         Distances between 11 US cities
Name: 703, dtype: object

dataset_id                                                                               cubits
title         Galton's example of the relationship between height and 'cubit' or forearm length
Name: 704, dtype: object

dataset_id                                                                                       cushny
title         A data set from Cushny and Peebles (1905) on the effect of three drugs on hours of sle...
Name: 705, dtype: object

dataset_id                                                               epi
title         Eysenck Personality Inventory (EPI) data for 3570 participants
Name: 706, dtype: object

dataset_id                                                                             epi.bfi
title         13 personality scales from the Eysenck Personality Inventory and Big 5 inventory
Name: 707, dtype: object

dataset_id                                                    epi.dictionary
title         Eysenck Personality Inventory (EPI) data for 3570 participants
Name: 708, dtype: object

dataset_id                                   galton
title         Galton's Mid parent child height data
Name: 709, dtype: object

dataset_id                                                         heights
title         A data.frame of the Galton (1888) height and cubit data set.
Name: 710, dtype: object

dataset_id                                  income
title         US family income from US census 2008
Name: 711, dtype: object

dataset_id                        iqitems
title         16 multiple choice IQ items
Name: 712, dtype: object

dataset_id                                                                              msq
title         75 mood items from the Motivational State Questionnaire for 3896 participants
Name: 713, dtype: object

dataset_id                                                neo
title         NEO correlation matrix from the NEO_PI_R manual
Name: 714, dtype: object

dataset_id             peas
title         Galton's Peas
Name: 715, dtype: object

dataset_id                                   sat.act
title         3 Measures of ability: SATV, SATQ, ACT
Name: 716, dtype: object

dataset_id                                                                        withinBetween
title         An example of the distinction between within group and between group correlations
Name: 717, dtype: object

dataset_id             Bosco
title         Boscovich Data
Name: 718, dtype: object

dataset_id          CobarOre
title         Cobar Ore data
Name: 719, dtype: object

dataset_id                                           Mammals
title         Garland(1983) Data on Running Speed of Mammals
Name: 720, dtype: object

dataset_id         barro
title         Barro Data
Name: 721, dtype: object

dataset_id         engel
title         Engel Data
Name: 722, dtype: object

dataset_id                              uis
title         UIS Drug Treatment study data
Name: 723, dtype: object

dataset_id                                                 dietox
title         Growth curves of pigs in a 3x3 factorial experiment
Name: 724, dtype: object

dataset_id                      koch
title         Ordinal Data from Koch
Name: 725, dtype: object

dataset_id                           ohio
title         Ohio Children Wheeze Status
Name: 726, dtype: object

dataset_id                                   respdis
title         Clustered Ordinal Respiratory Disorder
Name: 727, dtype: object

dataset_id                                                                      respiratory
title         Data from a clinical trial comparing two treatments for a respiratory illness
Name: 728, dtype: object

dataset_id               seizure
title         Epiliptic Seizures
Name: 729, dtype: object

dataset_id                         sitka89
title         Growth of Sitka Spruce Trees
Name: 730, dtype: object

dataset_id                               spruce
title         Log-size of 79 Sitka spruce trees
Name: 731, dtype: object

dataset_id                            liver
title         Liver related laboratory data
Name: 732, dtype: object

dataset_id                                  portpirie
title         Rain, wavesurge and portpirie datasets.
Name: 733, dtype: object

dataset_id                                       rain
title         Rain, wavesurge and portpirie datasets.
Name: 734, dtype: object

dataset_id                                                         summer
title         Air pollution data, separately for summer and winter months
Name: 735, dtype: object

dataset_id                                  wavesurge
title         Rain, wavesurge and portpirie datasets.
Name: 736, dtype: object

dataset_id                                                         winter
title         Air pollution data, separately for summer and winter months
Name: 737, dtype: object

dataset_id                              arthritis
title         Rheumatoid Arthritis Clinical Trial
Name: 738, dtype: object

dataset_id          housing
title         Homeless Data
Name: 739, dtype: object

dataset_id                                     bmw
title         Daily Log Returns on BMW Share Price
Name: 740, dtype: object

dataset_id                          danish
title         Danish Fire Insurance Claims
Name: 741, dtype: object

dataset_id            nidd.annual
title         The River Nidd Data
Name: 742, dtype: object

dataset_id            nidd.thresh
title         The River Nidd Data
Name: 743, dtype: object

dataset_id                                     siemens
title         Daily Log Returns on Siemens Share Price
Name: 744, dtype: object

dataset_id                  sp.raw
title         SP Data to June 1993
Name: 745, dtype: object

dataset_id                            spto87
title         SP Return Data to October 1987
Name: 746, dtype: object

dataset_id                      Dyestuff
title         Yield of dyestuff by batch
Name: 747, dtype: object

dataset_id                     Dyestuff2
title         Yield of dyestuff by batch
Name: 748, dtype: object

dataset_id                                                        InstEval
title         University Lecture/Instructor Evaluations by Students at ETH
Name: 749, dtype: object

dataset_id                              Pastes
title         Paste strength by batch and cask
Name: 750, dtype: object

dataset_id                         Penicillin
title         Variation in penicillin testing
Name: 751, dtype: object

dataset_id                             VerbAgg
title         Verbal Aggression item responses
Name: 752, dtype: object

dataset_id                                 cake
title         Breakage Angle of Chocolate Cakes
Name: 753, dtype: object

dataset_id                                 cbpp
title         Contagious bovine pleuropneumonia
Name: 754, dtype: object

dataset_id                                         grouseticks
title         Data on red grouse ticks from Elston et al. 2001
Name: 755, dtype: object

dataset_id                                     sleepstudy
title         Reaction times in a sleep deprivation study
Name: 756, dtype: object

3. Используем датасет 'HairEyeColor', который содержит статистическую информацию о зависимостях между цветом волос, глаз и полом:

In [25]:
data=pds.data('HairEyeColor')
display(data)

     Hair    Eye     Sex  Freq
1   Black  Brown    Male    32
2   Brown  Brown    Male    53
3     Red  Brown    Male    10
4   Blond  Brown    Male     3
5   Black   Blue    Male    11
6   Brown   Blue    Male    50
7     Red   Blue    Male    10
8   Blond   Blue    Male    30
9   Black  Hazel    Male    10
10  Brown  Hazel    Male    25
11    Red  Hazel    Male     7
12  Blond  Hazel    Male     5
13  Black  Green    Male     3
14  Brown  Green    Male    15
15    Red  Green    Male     7
16  Blond  Green    Male     8
17  Black  Brown  Female    36
18  Brown  Brown  Female    66
19    Red  Brown  Female    16
20  Blond  Brown  Female     4
21  Black   Blue  Female     9
22  Brown   Blue  Female    34
23    Red   Blue  Female     7
24  Blond   Blue  Female    64
25  Black  Hazel  Female     5
26  Brown  Hazel  Female    29
27    Red  Hazel  Female     7
28  Blond  Hazel  Female     5
29  Black  Green  Female     2
30  Brown  Green  Female    14
31    Red  Green  Female     7
32  Blond  Green  Female     8

4. Используя механизм сводных таблиц, определить суммарное количество мужчин и женщин, участвующих в опросе.
5. Используя механизм сводных таблиц, определить суммарное количество мужчин и женщин,  участвующих в опросе, в градации по цвету волос.
6. Определить, кого больше - мужчин или женщин с зелёными глазами?
7. Сколько всего человек приняло участие в опросе?
8. Постройте гистограмму распределения людей по цвету волос, определите модальное значение.
9. Постройте гистограмму распределения мужчин по цвету волос,определите модальное значение.
10. Постройте гистограмму распределения женщин по цвету волос, определите модальное значение.
11. Постройте гистограмму распределения людей по цвету глаз, определите модальное значение.
12. Постройте гистограмму распределения мужчин по цвету глаз,определите модальное значение.
13. Постройте гистограмму распределения женщин по цвету глаз, определите модальное значение.
14. Сделайте выводы.

15. Используя данные о населении Канады (датасет CanPop), определить среднее арифметическое, гармоническое, геометрическое, медианное значения численности населения по годам.
16. Построить гистограмму численности по годам.
17. Определить перечень годов, которые находятся между первым и третьем квартилями численности населения.
18. Рассчитать скользящее среднее - учитывая по три года, изобразить полученные значения в виде графика.
19. Выполнить группировку данных по формуле Стерджеса, рассчитать по полученным данным модальное, медианное и среднее арифметически взвешенное значения.

In [36]:
display(pds.data('CanPop'))

    year  population
1   1851       2.436
2   1861       3.230
3   1871       3.689
4   1881       4.325
5   1891       4.833
6   1901       5.371
7   1911       7.207
8   1921       8.788
9   1931      10.377
10  1941      11.507
11  1951      13.648
12  1961      17.780
13  1971      21.046
14  1981      23.774
15  1991      26.429
16  2001      30.007