# Практика использования Python

- Объектно-ориентированное программирование в Python
- Библиотека PyMySQL
- Библиотека Pandas, html

## Объектно-ориентированное программирование в Python

In [17]:
class rebus:
    __value1 = None
    __value2 = None
    value3=666
    def f(self):
        return self.__value1+self.__value2
    def set_1(self,x):
        if isinstance(x,int):
            self.__value1=x
        else:
            self.__value1=-1
    def set_2(self,x):
        self.__value2=x
    def get_1(self):
        return self.__value1
    
    def __init__(self, x,y):
        self.__value1=x
        self.__value2=y


b=rebus(7,8)

In [14]:
b.value3

666

In [15]:
b.get_1()

In [4]:
b.value3=777

In [5]:
b.value3

777

In [7]:
b.get_1()

4

In [11]:
b.set_1("hgghdgf")

In [12]:
b.get_1()

-1

In [10]:
b.f()

15

In [18]:
from datetime import date
class human:
    
    def set_name(self,x):
        if isinstance(x,str):
            self.__name=x
    def set_burthday(self,x):
        self.__burthday=date.fromisoformat(x)
    def set_sex(self,x):
        if (x=='man')|(x=='woman'):
            self.__sex=x
    
    def get_name(self):
        return self.__name
    def get_burthday(self):
        return self.__burthday
    def get_sex(self):
        return self.__sex
    
    def __init__(self,name,burthday,sex):
        self.set_name(name)
        self.set_burthday(burthday)
        self.set_sex(sex)

In [41]:
d=human('Petrov Igor Ivanovich','1974-01-24','man')

In [42]:
print(d.get_burthday())

1974-01-24

In [19]:
class worker(human):
    __position=None
    __data_work = None
    
    def set_position(self,x):
        self.position=x
    def set_data_work(self,x):
        self.__data_work=date.fromisoformat(x)
    def age(self):
        return  date.today().year-self.get_burthday().year
    def experience(self):
        return  date.today().year-self.__data_work.year
    
    def __init__(self,name,burthday,sex, position, data_work):
        self.set_name(name)
        self.set_burthday(burthday)
        self.set_sex(sex)
        self.set_data_work(data_work)
        self.set_position(position)

In [20]:
f=worker('Petrov','1980-03-22','man','director','2000-04-20')

In [21]:
f.age()

42

In [22]:
f.experience()

22

In [24]:
dir(worker)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_worker__data_work',
 '_worker__position',
 'age',
 'experience',
 'get_burthday',
 'get_name',
 'get_sex',
 'set_burthday',
 'set_data_work',
 'set_name',
 'set_position',
 'set_sex']

## Библиотека PyMySQL

Установка библиотеки по работе с MySQL

> pip3 install PyMySQL

Подключение к MySQL серверу:

In [1]:
import pymysql
connection = pymysql.connect(
    host='localhost',
    user='juna',
    password='2',
    charset='utf8',
)

Свойства соединения

In [2]:
dir(connection)

['DataError',
 'DatabaseError',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'Warning',
 '__class__',
 '__del__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_affected_rows',
 '_auth_plugin_map',
 '_auth_plugin_name',
 '_binary_prefix',
 '_closed',
 '_connect_attrs',
 '_create_ssl_ctx',
 '_execute_command',
 '_force_close',
 '_get_auth_plugin_handler',
 '_get_server_information',
 '_local_infile',
 '_next_seq_id',
 '_process_auth',
 '_quote_bytes',
 '_read_bytes',
 '_read_ok_packet',
 '_read_packet',
 '_read_query_result',
 '_read_timeout',
 '_request_authentication',
 '_result',
 '_rfile',
 '_secure',
 '_send_autocommit_mode',
 '_sock',
 '_write_bytes',
 '_write_timeout',
 'affected_rows',
 'autocommit',
 'autocommit_mode',
 'begin',
 'bind_address',
 'character_set_name',
 'charset',
 'client_flag',
 'close',
 'commit',
 'connect',
 'connect_timeout',
 'cursor',
 'cursorclass',
 'db',
 'decoders',
 'encoders',
 'encoding',
 'escape',
 'escape_string',
 'get_autocommit',
 'get_host_info',
 'get_proto_info',
 'get_server_info',
 'host',
 'host_info',
 'init_command',
 'insert_id',
 'kill',
 'literal',
 'max_allowed_packet',
 'next_result',
 'open',
 'password',
 'ping',
 'port',
 'protocol_version',
 'query',
 'rollback',
 'salt',
 'select_db',
 'server_capabilities',
 'server_charset',
 'server_language',
 'server_public_key',
 'server_status',
 'server_thread_id',
 'server_version',
 'set_charset',
 'show_warnings',
 'sql_mode',
 'ssl',
 'thread_id',
 'unix_socket',
 'use_unicode',
 'user',
 'write_packet']

In [151]:
dir(connection.cursor())

['DataError',
 'DatabaseError',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'Warning',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_check_executed',
 '_clear_result',
 '_conv_row',
 '_do_execute_many',
 '_do_get_result',
 '_ensure_bytes',
 '_escape_args',
 '_executed',
 '_get_db',
 '_nextset',
 '_query',
 '_result',
 '_rows',
 'arraysize',
 'callproc',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'fetchall',
 'fetchmany',
 'fetchone',
 'max_stmt_length',
 'mogrify',
 'nextset',
 'rowcount',
 'rownumber',
 'scroll',
 'setinputsizes',
 'setoutputsizes']

In [3]:
connection.query("use nanoedu;")

0

In [4]:
connection.query("select * from sp_city;")

1113

In [13]:
cursor = connection.cursor()
cursor.execute("show tables")

44

In [16]:
cursor.fetchone()

('sp_direct_use',)

In [17]:
cursor.fetchall()

(('sp_finance',),
 ('sp_fo',),
 ('sp_grnti',),
 ('sp_kt',),
 ('sp_market',),
 ('sp_nanodirect',),
 ('sp_okp',),
 ('sp_op',),
 ('sp_order',),
 ('sp_part',),
 ('sp_patent_class',),
 ('sp_patent_section',),
 ('sp_platforms',),
 ('sp_pn',),
 ('sp_region',),
 ('sp_replace',),
 ('sp_specialization',),
 ('sp_stage_ois',),
 ('sp_struct_place',),
 ('sp_type_ois',),
 ('sp_type_org',),
 ('sp_type_service',),
 ('sp_type_work_place',),
 ('sp_use_method',),
 ('sp_view_preparation',),
 ('sp_view_work',),
 ('sp_vuz',),
 ('sp_winner',),
 ('sp_yes_no',),
 ('table10_platforms',),
 ('table11_218',),
 ('table12_219',),
 ('table13_school',),
 ('table2_kadry',),
 ('table3_kadry_prepare',),
 ('table4_equipment',),
 ('table5_science',),
 ('table6_services',),
 ('table7_ois',),
 ('table8_work',),
 ('table9_production',))

In [6]:
cursor2=connection.cursor()
cursor2.execute("select * from sp_vuz;")

251

In [18]:
cursor2.fetchmany(10)

((1,
  'Алтайский государственный технический университет им. И.И. Ползунова',
  5,
  1),
 (2,
  'Амурский гуманитарно-педагогический государственный университет',
  1006,
  0),
 (3, 'Ангарская государственная техническая академия', 214, 1),
 (4,
  'Брянский государственный университет имени академика И.Г. Петровского',
  76,
  0),
 (5,
  'Воронежский государственный архитектурно-строительный университет',
  159,
  0),
 (6, 'Воронежский государственный университет', 159, 1),
 (7, 'Дальневосточный федеральный университет', 704, 0),
 (8, 'Ивановский государственный университет', 195, 1),
 (9, 'Иркутский государственный университет', 222, 1),
 (10,
  'Кабардино-Балкарский государственный университет им. Х.М. Бербекова',
  237,
  1))

In [7]:
cursor.fetchall()

(('sp_city',),
 ('sp_country',),
 ('sp_direct_use',),
 ('sp_finance',),
 ('sp_fo',),
 ('sp_grnti',),
 ('sp_kt',),
 ('sp_market',),
 ('sp_nanodirect',),
 ('sp_okp',),
 ('sp_op',),
 ('sp_order',),
 ('sp_part',),
 ('sp_patent_class',),
 ('sp_patent_section',),
 ('sp_platforms',),
 ('sp_pn',),
 ('sp_region',),
 ('sp_replace',),
 ('sp_specialization',),
 ('sp_stage_ois',),
 ('sp_struct_place',),
 ('sp_type_ois',),
 ('sp_type_org',),
 ('sp_type_service',),
 ('sp_type_work_place',),
 ('sp_use_method',),
 ('sp_view_preparation',),
 ('sp_view_work',),
 ('sp_vuz',),
 ('sp_winner',),
 ('sp_yes_no',),
 ('table10_platforms',),
 ('table11_218',),
 ('table12_219',),
 ('table13_school',),
 ('table2_kadry',),
 ('table3_kadry_prepare',),
 ('table4_equipment',),
 ('table5_science',),
 ('table6_services',),
 ('table7_ois',),
 ('table8_work',),
 ('table9_production',))

In [12]:
len(cursor.fetchall())

0

In [31]:
cursor.execute("select * from sp_city")

1113

In [20]:
cursor2.description

(('id', 3, None, 11, 11, 0, False),
 ('short_name', 253, None, 500, 500, 0, False),
 ('sp_city_id', 3, None, 11, 11, 0, False),
 ('checked', 3, None, 11, 11, 0, False))

In [11]:
cursor.fetchone()

(3, 'Горно-Алтайск', 42)

In [35]:
cursor.fetchone()

(3, 'Горно-Алтайск', 42)

In [36]:
cursor.fetchmany(10)

((4, 'Алейск', 43),
 (5, 'Барнаул', 43),
 (6, 'Белокуриха', 43),
 (7, 'Бийск', 43),
 (8, 'Горняк', 43),
 (9, 'Заринск', 43),
 (10, 'Змеиногорск', 43),
 (11, 'Камень-на-Оби', 43),
 (12, 'Новоалтайск', 43),
 (13, 'Рубцовск', 43))

In [21]:
connection.close()

## Библиотека Pandas, html

Для установки библиотеки в консоле выполняем команду: 

> pip3 install pandas

In [22]:
import pandas as pd

In [23]:
df_marks = pd.DataFrame({'name': ['Somu', 'Kiku', 'Amol', 'Lini'],
     'physics': [68, 74, 77, 78],
     'chemistry': [84, 56, 73, 69],
     'algebra': [78, 88, 82, 87]})

In [24]:
df_marks

   name  physics  chemistry  algebra
0  Somu       68         84       78
1  Kiku       74         56       88
2  Amol       77         73       82
3  Lini       78         69       87

In [25]:
html = df_marks.to_html()
print(html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>physics</th>
      <th>chemistry</th>
      <th>algebra</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Somu</td>
      <td>68</td>
      <td>84</td>
      <td>78</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Kiku</td>
      <td>74</td>
      <td>56</td>
      <td>88</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Amol</td>
      <td>77</td>
      <td>73</td>
      <td>82</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Lini</td>
      <td>78</td>
      <td>69</td>
      <td>87</td>
    </tr>
  </tbody>
</table>

In [26]:
import webbrowser

In [27]:
dir(webbrowser)

['BackgroundBrowser',
 'BaseBrowser',
 'Chrome',
 'Chromium',
 'Elinks',
 'Error',
 'Galeon',
 'GenericBrowser',
 'Grail',
 'Konqueror',
 'Mozilla',
 'Netscape',
 'Opera',
 'UnixBrowser',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_browsers',
 '_lock',
 '_os_preferred_browser',
 '_synthesize',
 '_tryorder',
 'get',
 'main',
 'open',
 'open_new',
 'open_new_tab',
 'os',
 'register',
 'register_X_browsers',
 'register_standard_browsers',
 'shlex',
 'shutil',
 'subprocess',
 'sys',
 'threading']

In [32]:
webbrowser.open_new_tab('checkbox.html')

True

In [33]:
f = open('helloworld.html','w')

message = """<html>
<head></head>
<body><p>Hello World!</p>"""+html+"""</body>
</html>"""

f.write(message)
f.close()

In [34]:
webbrowser.open_new_tab('helloworld.html')

True